
# MESA = (
# 	('6', 'Not Applicable'),
# 	('0', 'President'),
# 	('1', 'Vice President'),
# 	('2', 'Head'),
# 	('3', 'Branch Representative'),
# 	('4', 'Member'),
# 	('5', 'Faculty Advisor'),
# )
# SAE = (
# 	('3', 'Not Applicable'),
# 	('0', 'Chairman'),
# 	('1', 'Other'),
# 	('2', 'Faculty Advisor'),
# )
# DISPOSAL_COMMITTEE = (
# 	('4', 'Not Applicable'),
# 	('0', 'Chairman'),
# 	('1', 'Member'),
# 	('2', 'External Member'),
# 	('3', 'Non Member Secretary'),
# )
# DPPC = (
# 	('6', 'Not Applicable'),
# 	('0', 'Chairman'),
# 	('1', 'Secretary'),
# 	('2', 'Faculty Member'),
# 	('3', 'External Member'),
# 	('4', 'PhD Student Member'),
# 	('5', 'MTech Student Member'),
# )
# DUPC = (
# 	('6', 'Not Applicable'),
# 	('0', 'Chairman'),
# 	('1', 'Secretary'),
# 	('2', 'Faculty Member'),
# 	('3', 'External Member'),
# 	('4', '3rd year BTech'),
# 	('5', '2nd year BTech'),
# )
# DISCIPLINARY_COMMITTEE = (
# 	('4', 'Not Applicable'),
# 	('0', 'Chairman'),
# 	('1', 'Secretary'),
# 	('2', 'Member Secretary'),
# 	('3', 'Student Member'),
# )
# FACULTY_IN_CHARGE = (
# 	('11', 'Not Applicable'),
# 	('0', 'BTP Co ordinator'),
# 	('1', 'MTP Co ordinator'),
# 	('2', 'Central Workshop'),
# 	('3', 'Library Committee'),
# 	('4', 'Training and Placement'),
# 	('5', 'Departmental Seminar Room'),
# 	('6', 'Secretary Faculty Meeting'),
# 	('7', 'PG Computational Lab'),
# 	('8', 'Research Scholar Room'),
# 	('9', 'Time Table Committee'),
# 	('10', 'Departmental Website'),
# )

stud_dupc = StudentPage.objects.all().filter(dupc="4").order_by('dupc')+StudentPage.objects.all().filter(dupc="5").order_by('dupc')
stud_dppc = StudentPage.objects.all().filter(dppc="5").order_by('dppc') + StudentPage.objects.all().filter(dppc="4").order_by('dppc')
stud_mesa = StudentPage.objects.all().exclude(mesa="5").exclude(mesa="6").order_by('mesa')
stud_sae = StudentPage.objects.all().filter(sae="1").order_by('sae')+StudentPage.objects.all().filter(sae="0").order_by('sae')
stud_disco = StudentPage.objects.all().filter(disciplinary_committee="3").order_by('disciplinary_committee')

<h2> dupc </h2>
<table id="fac_dupc">
<tr>
<th>Sl. No.</th>
<th>Position</th>
<th>Name</th>
</tr>
{% for fac in fac_dupc %}
<tr>
<td>{{ forloop.counter }}</td>
<td>{{ fac.specific.get_dupc_display }}</td>
<td><a href="{{ fac.url }}">{{ fac.specific.name }}</a></td>
</tr>
{% endfor %}
</table>

<h2> dppc </h2>
<table id="fac_dppc">
<tr>
<th>Sl. No.</th>
<th>Position</th>
<th>Name</th>
</tr>
{% for fac in fac_dppc %}
<tr>
<th>Sl. No.</th>
<td>{{ fac.specific.get_dppc_display }}</td>
<td><a href="{{ fac.url }}">{{ fac.specific.name }}</a></td>
</tr>
{% endfor %}
</table>

<h2> dispoc </h2>
<table id="fac_dispoc ">
<tr>
<th>Sl. No.</th>
<th>Position</th>
<th>Name</th>
</tr>
{% for fac in fac_dispoc  %}
<tr>
<th>Sl. No.</th>
<td>{{ fac.specific.get_disposal_committee_display }}</td>
<td><a href="{{ fac.url }}">{{ fac.specific.name }}</a></td>
</tr>
{% endfor %}
</table>

<h2> mesa</h2>
<table id="fac_mesa">
<tr>
<th>Sl. No.</th>
<th>Position</th>
<th>Name</th>
</tr>
{% for fac in fac_mesa %}
<tr>
<th>Sl. No.</th>
<td>{{ fac.specific.get_mesa_display }}</td>
<td><a href="{{ fac.url }}">{{ fac.specific.name }}</a></td>
</tr>
{% endfor %}
</table>

<h2> sae </h2>
<table id="fac_sae">
<tr>
<th>Sl. No.</th>
<th>Position</th>
<th>Name</th>
</tr>
{% for fac in fac_sae %}
<tr>
<th>Sl. No.</th>
<td>{{ fac.specific.get_sae_display }}</td>
<td><a href="{{ fac.url }}">{{ fac.specific.name }}</a></td>
</tr>
{% endfor %}
</table>

<h2> fic </h2>
<table id="fac_fic">
<tr>
<th>Sl. No.</th>
<th>Position</th>
<th>Name</th>
</tr>
{% for fac in fac_fic %}
<tr>
<th>Sl. No.</th>
<td>{{ fac.specific.get_faculty_in_charge_display }}</td>
<td><a href="{{ fac.url }}">{{ fac.specific.name }}</a></td>
</tr>
{% endfor %}
</table>

<h2> disco </h2>
<table id="fac_disco">
<tr>
<th>Sl. No.</th>
<th>Position</th>
<th>Name</th>
</tr>
{% for fac in fac_disco %}
<tr>
<th>Sl. No.</th>
<td>{{ fac.specific.get_disciplinary_committee_display }}</td>
<td><a href="{{ fac.url }}">{{ fac.specific.name }}</a></td>
</tr>
{% endfor %}
</table>

<h2>  </h2>
<table id="fac_ ">
<tr>
<th>Sl. No.</th>
<th>Position</th>
<th>Name</th>
</tr>
{% for fac in fac_  %}
<tr>
<th>Sl. No.</th>
<td>{{ fac.specific.get_ _display }}</td>
<td><a href="{{ fac.url }}">{{ fac.specific.name }}</a></td>
</tr>
{% endfor %}
</table>

<h2>  </h2>
<table id="fac_ ">
<tr>
<th>Sl. No.</th>
<th>Position</th>
<th>Name</th>
</tr>
{% for fac in fac_  %}
<tr>
<th>Sl. No.</th>
<td>{{ fac.specific.get_ _display }}</td>
<td><a href="{{ fac.url }}">{{ fac.specific.name }}</a></td>
</tr>
{% endfor %}
</table>

<h2>  </h2>
<table id="fac_ ">
<tr>
<th>Sl. No.</th>
<th>Position</th>
<th>Name</th>
</tr>
{% for fac in fac_  %}
<tr>
<th>Sl. No.</th>
<td>{{ fac.specific.get_ _display }}</td>
<td><a href="{{ fac.url }}">{{ fac.specific.name }}</a></td>
</tr>
{% endfor %}
</table>