{% extends "base.html" %}

{% load static %}


{% load wagtailcore_tags wagtailimages_tags %}


{% block body_class %}template-aboutiitgmech-page{% endblock %}
{% block extra_css %}
<style>

html, body{
  margin:0px; padding:0px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


#hero1{
{% image page.photo original as background_image %}

 background:url({{background_image.url}});
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}

.hero, .content{
  text-align:center; 
  position:relative;
  width: 100%;
}

.inner{
  min-height:600px;
  position: relative;
}

.hero .inner{
  background: rgba(0,0,0,0.4) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
  }


.copy{
  position:absolute; 
  top:50%; 
  height:10em; 
  margin-top:-5em; 
  width:100%;
}



h1{
  margin:0px;
  font-family: 'Roboto Slab', serif;
  font-weight:400;
  font-size:32px;
  padding:0px 20px;
}

p{
  font-size:large;
  padding:0px 20px;
  text-align: justify;
  text-justify: inter-word;
}


</style>

{% endblock extra_css %}

{% block content %}

<section id="hero1" class="hero">
  <div class="inner">
    <div class="copy">
    <h1 class="text-white">Mechanical Department, IIT Guwahati</h1>
    <p></p>
    </div>
  </div>
</section>

<section>
  <div class="">
    <div class="pt-4">
    <h1 class="text-center pb-3">About the Department</h1>
    <div class="container">{{ page.about|richtext}} </div>
    </div>
  </div>
</section>
<section>
  <div class="">
    <div class="">
        <h1 class="text-center pb-3">History</h1>
    <div class="container">{{ page.history|richtext}} </div>
    </div>
  </div>
</section>

<section>
  <div class="">
    <div class="">
    <h1 class="text-center pb-3">Our Vision</h1>
    <div class="container">{{ page.vision|richtext }}</div>
    </div>
  </div>
</section>

<section>
  <div class="">
    <div class="container">
      <h1 class="pb-3 text-center">From HOD's Desk</h1>
      <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-3">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-12 col-md-6 col-lg-12">
        {% if page.specific.HOD_image %}
        {% image page.specific.HOD_image original as photo %}
        <img class="rounded img-thumbnail img-fluid" style="max-width:250px" src="{{ photo.url }}" alt="{{ photo.alt }}"/>
        {% else %}
        {% with MEDIA_URL|add:'images/placeholder.jpg' as image_static %}
        <img class="rounded img-thumbnail mx-2" style="max-width:250px" src="{{ image_static }}"
        alt="placeholder" />
        {% endwith %}
        {% endif %}
        </div>
        <div class="col-12 col-md-6 col-lg-12 ">
          <br>
          <br>
          <strong> {{hod_name}} </strong>
          <div>HOD, Department of Mechanical Engineering</div>
          <small class="text-muted" style="padding:0"> {{hod_contact |safe}}</small>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="text-justify" style="text-align: justify;">{{ page.HOD_message|richtext}} </div>
      </div>
  </div>
</div>
  </div>
</section>
<br>


{% endblock %}
