{% extends "base.html" %}

{% load static %}


{% load wagtailcore_tags wagtailimages_tags %}


{% block body_class %}template-aboutiitgmech-page{% endblock %}
{% block extra_css %}
<style>

html, body{
  margin:0px; padding:0px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


#hero1{
{% image page.photo original as background_image %}

 background:url({{background_image.url}});
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}

.hero, .content{
  text-align:center; 
  position:relative;
  width: 100%;
}

.inner{
  min-height:600px;
  position: relative;
}

.hero .inner{
  background: rgba(0,0,0,0.4) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
  }


.copy{
  position:absolute; 
  top:50%; 
  height:10em; 
  margin-top:-5em; 
  width:100%;
}



h1{
  margin:0px;
  font-family: 'Roboto Slab', serif;
  font-weight:400;
  font-size:32px;
  padding:0px 20px;
}

p{
  font-size:large;
  padding:0px 20px;
  text-align: justify;
  text-justify: inter-word;
}


</style>

{% endblock extra_css %}

{% block content %}

<section id="hero1" class="hero">
  <div class="inner">
    <div class="copy">
    <h1 class="text-white">Mechanical Department, IIT Guwahati</h1>
    <p></p>
    </div>
  </div>
</section>

<section>
  <div class="">
    <div class="pt-4">
    <h1 class="text-center pb-3">About the Department</h1>
    <div class="container">{{ page.about|richtext}} </div>
    </div>
  </div>
</section>

<section>
  <div class="">
    <div class="">
        <h1 class="text-center pb-3">History</h1>
    <div class="container">{{ page.history|richtext}} </div>
    </div>
  </div>
</section>
<section>
  <div class="">
    <div class="">
    <h1 class="text-center pb-3">Our Vision</h1>
    <div class="container">{{ page.vision|richtext}} </div>
    </div>
  </div>
</section>
  <br>

{% endblock %}
