{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-alumni-homepage{% endblock %}

{% block content %}

    <h1>{{ page.title }}</h1>
    <h2>Results for {{ tag }}</h2>
	<!-- 	<div>Interests:
		{% for tag in page.specific.interests.all %}
			<a href="{{ page.get_parent.url }}?tag={{ tag }}">{{ tag }}</a> |
		{% endfor %}
	</div> -->

    <ul>
    {% for alumnus in alumni_list %}
	    {% if alumnus in page.distinguished_alumni.all %}

	    {% else %}
		    <li>
		        <h2><a href="{{ alumnus.specific.url }}">{{ alumnus.specific.name }}</a></h2>
		        <div>{% image alumnus.specific.photo fill-50x50 %}</div>
		        <div>Proramme : {{ alumnus.specific.programme }}</div>
		        <div>Enrolment year : {{ alumnus.specific.enrolment_year }}</div>
		        <!-- {% if alumnus.specific.job_details.all|length != 0 %}
		        	<div>{{ alumnus.specific.job_details.0.title }}</div> at {{ alumnus.specific.job_details.0.company }}company
		        {% endif %} -->
		    </li>
		{% endif %}
    {% endfor %}
	</ul>
{% endblock %}