{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
{% endblock %}


{% block body_class %}template-award-homepage {% endblock %}

{% block content %}

<br><br>
    <div class="w3-container-fluid ">
      <h1 class="text-center">Awards and Best Papers </h1>
      <!-- Intro -->
      <div class="intro">{{ page.intro|richtext }}</div>
      <!-- <hr> -->

      <div class="w3-row">
        <a id="linkid" href="javascript:void(0)" onclick="openCity(event, 'faculty_awards');">
          <div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding" style="text-align:center; font-size:1.2em; color: #222546">Faculty Honors and Awards</div>
        </a>
        <a href="javascript:void(0)" onclick="openCity(event, 'best_papers');">
          <div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding" style="text-align:center; font-size:1.2em; color: #222546">Best Papers</div>
        </a>

      </div>
      <div class="container-fluid awardscont">
          <div id="faculty_awards" class="w3-container city" style="display:none">
              <table class="table table-hover">
                  <thead>
                    <tr>
                        <th style="word-wrap: break-word;max-width: 200px">Faculty</th>
                        <th style="word-wrap: break-word;max-width: 400px">Award</th>
                        <th style="word-wrap: break-word;max-width: 300px;min-width:50px">Organization/Society</th>
                        <th style="word-wrap: break-word;max-width: 250px;min-width:100px">Year</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for award in award_list %}
                    {% if award.award_type == '0' %}
                  <tr>
                      <td style="word-wrap: break-word;max-width: 200px">{{ award.specific.faculty }}</td>
                      <td style="word-wrap: break-word;max-width: 400px"><a href="{{ award.specific.link }}">{{ award.specific.award_title }}</a></td>
                      <td style="word-wrap: break-word;max-width: 300px;min-width:50px">{{ award.specific.conferrer }}</td>
                      <td style="word-wrap: break-word;max-width: 250px;min-width:100px">{{ award.specific.award_time }}</td>

                  </tr>
                    {% endif %}
                    {% endfor %}

                  <tbody>
                </table>

            </div>

            <div id="best_papers" class="w3-container city" style="display:none">

              <table class="table table-hover">
                  <thead>
                    <tr>
                        <th style="word-wrap: break-word;max-width: 200px">Faculty</th>
                        <th style="word-wrap: break-word;max-width: 400px">Award</th>
                        <th style="word-wrap: break-word;max-width: 400px;min-width:50px">Details</th>
                        <th style="word-wrap: break-word;max-width: 250px;min-width:100px">Year</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for award in award_list %}
                    {% if award.award_type == '1' %}
                  <tr>
                      <td style="word-wrap: break-word;max-width: 200px">{{ award.specific.faculty }}</td>
                      <td style="word-wrap: break-word;max-width: 400px"><a href="{{ award.specific.link }}">{{ award.specific.award_title }}</a></td>
                      <td style="word-wrap: break-word;max-width: 400px;min-width:50px">{{ award.specific.award_description|richtext }}</td>
                      <td style="word-wrap: break-word;max-width: 250px;min-width:100px">{{ award.specific.award_time }}</td>

                  </tr>
                    {% endif %}
                    {% endfor %}

                  <tbody>
                </table>

            </div>


        </div>
      </div>



{% endblock %}

{% block extra_script %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script>

// var x = document.getElementsByClassName("city");    this js code is used to make a tab active on load of page
//     x[0].style.display = "block";


  function openCity(evt, cityName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-border-blue-grey", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.firstElementChild.className += " w3-border-blue-grey";
  }


</script>

<script type="text/javascript">
window.onload=function(){
document.getElementById("linkid").click();
};
</script>

{% endblock %}
