{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-publication-homepage{% endblock %}

{% block body_style %}padding-top: 105px; {% endblock %}


{% block content %}

<div class="container-fluid pubcont">
  <h1 class="text-center">{{ page.title }}</h1>
  <!-- Intro -->
  <div class="about">{{ page.about|richtext }}</div>
  <hr>

</div>


<div id="faculty_awards" class="w3-container city" style="display:block">
<div id="resizecommittee">
  <table class="table table-hover">
      <thead class="text-center">
        <tr>
          {% if page.tenure_start %}
            <th style="word-wrap: break-word;max-width: 200px">Tenure Start</th>
            {% endif %}
            {% if page.tenure_end %}
            <th style="word-wrap: break-word;max-width: 200px">Tenure End</th>
            {% endif %}
            {% if page.specific.minutes_doc %}
            <th style="word-wrap: break-word;max-width: 200px;min-width:50px">Minutes Doc</th>
            {% endif %}

        </tr>
      </thead>
      <tbody class="text-center">

      <tr>
        {% if page.tenure_start %}
          <td style="word-wrap: break-word;max-width: 200px">{{ page.tenure_start }}</td>
          {% endif %}
          {% if page.tenure_end %}
          <td style="word-wrap: break-word;max-width: 200px">{{ page.tenure_end }}</td>
          {% endif %}
          {% if page.specific.minutes_doc %}
          <td style="word-wrap: break-word;max-width: 200px;min-width:50px">
            {% for docs in page.specific.minutes_doc.all %}
            {{ docs }}
            {% endfor %}
          </td>
          {% endif %}

      </tr>

      <tbody>
    </table>
</div>



  </div>

  <br><br><br>



    <table>
     {% for fac_mem in page.specific.faculty.all %}
    <tr>
      <td>{{ fac_mem.designation }}</td>
      <td>{{ fac_mem.faculty.first_name }} {{ fac_mem.faculty.middle_name }} {{ fac_mem.faculty.last_name }}</td>
    </tr>
    {% endfor %}
    {% for stud_mem in page.specific.student.all %}
    <tr>
      <td>{{ stud_mem.specific.designation }}</td>
      <td>{{ stud_mem..student.specific.name }}</td>
    </tr>
    {% endfor %}
    {% for other in page.specific.com_other.all %}
    <tr>
      <td>{{ other.specific.designation }}</td>
      <td>{{ other.specific.name }}</td>
    </tr>
    {% endfor %}
    </table>

    <div id="faculty_awards" class="w3-container city" style="display:block">
      <div id="resizecommittee">
        <table class="table table-hover">
            <thead class="text-center">
              <tr>
                  {% if page.specific.faculty %}
                  <th style="word-wrap: break-word;max-width: 200px">Designation</th>
                  <th style="word-wrap: break-word;max-width: 200px">Faculty Name</th>
                  {% endif %}
              </tr>
            </thead>
            <tbody class="text-center">
              {% for fac_mem in page.specific.faculty.all %}
            <tr>
                {% if page.specific.faculty %}
                <td style="word-wrap: break-word;max-width: 200px">{{ fac_mem.designation }}</td>
                <td style="word-wrap: break-word;max-width: 200px">{{ fac_mem.faculty.first_name }} {{ fac_mem.faculty.middle_name }} {{ fac_mem.faculty.last_name }}</td>
                {% endif %}
            </tr>
            {% endfor %}

            <tbody>
          </table>
      </div>
    </div>

    <div id="faculty_awards" class="w3-container city" style="display:block">
      <div id="resizecommittee">
        <table class="table table-hover">
            <thead class="text-center">
              <tr>
                  {% if page.specific.student %}
                  <th style="word-wrap: break-word;max-width: 200px">Designation</th>
                  <th style="word-wrap: break-word;max-width: 200px">Student Name</th>
                  {% endif %}
              </tr>
            </thead>
            <tbody class="text-center">
              {% for stud_mem in page.specific.student.all %}
            <tr>
                {% if page.specific.student %}
                <td style="word-wrap: break-word;max-width: 200px">{{ stud_mem.specific.designation }}</td>
                <td style="word-wrap: break-word;max-width: 200px">{{ stud_mem.specific.name }}</td>
                {% endif %}
            </tr>
            {% endfor %}

            <tbody>
          </table>
      </div>
    </div>

    <div id="faculty_awards" class="w3-container city" style="display:block">
      <div id="resizecommittee">
        <table class="table table-hover">
            <thead class="text-center">
              <tr>
                  {% if page.specific.com_other %}
                  <th style="word-wrap: break-word;max-width: 200px">Designation</th>
                  <th style="word-wrap: break-word;max-width: 200px"> Name</th>
                  {% endif %}
              </tr>
            </thead>
            <tbody class="text-center">
              {% for other in page.specific.com_other.all %}
            <tr>
                {% if page.specific.com_other %}
                <td style="word-wrap: break-word;max-width: 200px">{{ other.specific.designation }}</td>
                <td style="word-wrap: break-word;max-width: 200px">{{ other.specific.name }}</td>
                {% endif %}
            </tr>
            {% endfor %}

            <tbody>
          </table>
      </div>
    </div>









<script>
  function filterSelection(year) {
  var input, filter, ul, li, a, i, txtValue, integ, substraa, substrbb, yearint;
  ul = document.getElementById("myInputpub");
  list = ul.getElementsByClassName("filterDiv");
  yearint = parseInt(year);
  ;  // for (i = 0; i < li.length; i++) {
  //       li[i].style.display = "none";
  //   }

  // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
  for (i = 0; i < list.length; i++) {
    a = list[i].id;
    substraa = a.substring(0,4);
    substrbb = a.substring(5,9);
    integ = parseInt(substrbb);
    if ( integ === yearint) {
      list[i].style.display = "block";
    } else {
      list[i].style.display = "none";
    }
  }

  }
</script>



{% endblock %}


{% block extra_script %}

{% endblock %}
