{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags mechweb_tags%}

{% block body_class %}template-publication-homepage{% endblock %}

{% block extra_css %}
<style>
.committee_name{
  color:#000;
}
.committee_name:hover{
  text-decoration:none;
}

.list-group-item:hover{
  background: #f5f5f5 !important;
}
</style>
{% endblock extra_css %}

{% block content %}

<div class="container-fluid my-5">
  <h1 class="text-center text-warning">Departmental Committees</h1>
  <!-- Intro -->
  <div class="about">{{ page.about|richtext }}</div>
</div>

<div class="py-5 bg-light">
    <ul class="list-group text-center"  style="width: 70%; margin: auto">
        <div class="row">
        {% for committee in com_list %}
            <li class="col-sm-12 col-lg-4 col-md-5 committee_box">
                <a class="committee_name" href="{{ committee.url }}"><h4 class="list-group-item mx-2 p-5 text-primary">{{ committee.specific.name }}</h4></a>
            </li>
        {% endfor %}
        </div>
    </ul>
</div>










<script>
  function filterSelection(year) {
  var input, filter, ul, li, a, i, txtValue, integ, substraa, substrbb, yearint;
  ul = document.getElementById("myInputpub");
  list = ul.getElementsByClassName("filterDiv");
  yearint = parseInt(year);
  ;  // for (i = 0; i < li.length; i++) {
  //       li[i].style.display = "none";
  //   }

  // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
  for (i = 0; i < list.length; i++) {
    a = list[i].id;
    substraa = a.substring(0,4);
    substrbb = a.substring(5,9);
    integ = parseInt(substrbb);
    if ( integ === yearint) {
      list[i].style.display = "block";
    } else {
      list[i].style.display = "none";
    }
  }

  }
</script>



{% endblock %}


{% block extra_script %}

{% endblock %}
