{% extends "base.html" %} {% load wagtailcore_tags wagtailimages_tags %} {% block body_class %}template-course-structure{% endblock %} {% block content %}

<div>{{ page.intro|richtext }}</div>

<br>
<br>

{% if prog == '0' %}

<h2 class="text-center">Undergraduate Course Curriculum</h2>
<p style="width: 80%; margin-left: 10%; font-size: 1.1em; text-align: center">
    <i>The Bachelor's program in Mechanical Engineering Department is one of the oldest programs in IITG.
It started in year 1995, since then the undergraduate curriculum has been updated periodically
to make it relevant for the industrial needs and academic research works. The current curriculum
is diverse including the SA courses and the HSS courses. Students now can choose electives starting
from 6th semester and this offers lot of flexibilty for those who want to pursue research
career in allied state-of-the-art fields.
</i>
</p>
<hr> {% elif prog == '1' %}
<h2 class="text-center">Master's in Aerodynamics & Propulsion</h2>
<p style="width: 80%; margin-left: 10%; font-size: 1.1em; text-align: center">
    <i>Aerodynamics and propulsion are probably the most important elements in aircraft design. Aerodynamics is mainly used to shape the aircraft so that it can fulfil all the mission requirements with minimum drag penalty. The aim of the propulsion system is to provide the required amount of thrust to the aircraft under all conditions. The understanding of aerodynamics is vital for the design of efficient, capable and competitive aircraft and the department offers core courses that gives the students a platform to explore the opportunities in this field. Core courses include Advanced Engineering Mathematics, Aircraft Propulsion, Aerodynamics, Gas Dynamics, Rocket Propulsion as compulsory. Also, students have to choose elective courses for each semester according to their interest. The past students of this specialization were placed in HAL, Fluidyn, Honda R&D, L&T etc.
</i>
</p>
<hr>

{% elif prog == '2' %}

<h2 class="text-center">Master's in Manufacturing Science and Engineering</h2>
<p style="width: 80%; margin-left: 10%; font-size: 1.1em; text-align: center">
    <i>Manufacturing science and Technology is predominant area of Mechanical Engineering which has been evolving since the dawn of Human Civilization. Students from Manufacturing Science and Technology work on broad range of topics ranging from Manufacturing and automation to Mechatronics. Students in this specialization are introduced to core courses which includes Advanced Engineering Mathematics, Advanced Materials and Processing, Mechatronics and Manufacturing Automation, Manufacturing Laboratory, Physics of Manufacturing Processes and Computer Integrated Manufacturing. Students can opt for electives courses depending upon their field of interest. The past Manufacturing Science and Technology students were able to get placed in companies like L&T, Tata motors, Robert Bosch, etc.
</i>
</p>
<hr>

{% elif prog == '3' %}

<h2 class="text-center">Master's in Computational Mechanics</h2>
<p style="width: 80%; margin-left: 10%; font-size: 1.1em; text-align: center">
    <i>Computational Mechanics is a recent discipline inducted in Mechanical Engineering department. With the advent of sophisticated computational resources, the PG students in Computational mechanics background learn to find the solution of mechanical engineering problems through intensive simulations. The core courses in this discipline include Finite element method, Numerical analysis, Continuum Mechanics, Computational Fluid Dynamics, Advanced Engineering Mathematics. Further students can opt to choose elective courses from machine design, fluid and thermal or manufacturing science and technology according to their interest. The past computational mechanics specialized students were able to get placed in companies such as ANSYS, Robert Bosch, Siemens, etc.
</i>
</p>
<hr>

{% elif prog == '4' %}

<h2 class="text-center">Master's in Fluids and Thermal</h2>
<p style="width: 80%; margin-left: 10%; font-size: 1.1em; text-align: center">
    <i>Any mechanical development is not possible without understanding the principles of fluid flow and heat transfer. This is very crucial in aerospace and automobile applications. PG students from this specialization work on the broad range of topics such as multiphase flow, IC engines, Computational fluid dynamics, Heat transfer, Combustion etc. Core courses in this specialization include Advanced engineering mathematics, Fluid mechanics, Advanced Thermodynamics, Convective heat and mass transfer. Also, students have to choose elective courses for each semester according to their interest. The past Thermal and Fluids students were able to get placed in companies like Mercedes Benz, Robert Bosch, Siemens, etc.
</i>
</p>
<hr>

{% elif prog == '5' %}

<h2 class="text-center">Master's in Machine Design</h2>
<p style="width: 80%; margin-left: 10%; font-size: 1.1em; text-align: center">
    <i>Machine Design is a prominent discipline in the Mechanical Engineering Department. Design of any mechanical equipment requires a fundamental knowledge of strength of materials and vibration behavior. Students here, learn about design and analysis of mechanical components through experiments and simulations. This specialization is a gateway for Robotics. The core courses in Machine Design specialization include Advance Solid Mechanics, Mechanical Vibration, Finite Element Methods, Advanced Engineering Mathematics. Further students can opt to choose elective classes such as Fracture Fatigue and failure analysis, Rotor Dynamics, Mechatronics, etc. The past Machine Design specialization students were able to get placed in companies such as Mercedes Benz, Siemens, Caterpillar, Tata Motors, etc.
</i>
</p>
<hr>

{% elif prog == '6' %}

<h2 class="text-center">Post Doctorate  Course Structure</h2>

{% elif prog == '7' %}

<h2 style="text-align: center; font-weight:bold">PG Courses & Electives</h2>

{% elif prog == '8' %}

<h2 style="text-align: center; font-weight:bold">All courses</h2>

{% elif featured_courses %}

<h2>Featured Courses</h2>

<!-- List of featured courses here -->
<div class="layoutcard">
    <ul class="cards">
        {% for course in featured_courses %}
        <li class="cards_item">
            <div class="card h-100">
                <div class="card_content">
                    <h2 class="card_title"><a href="{{ course.featured_course.url }}">{{ course.featured_course.name }}</a></h2>
                    <ul>
                        <li>Course code : {{ course.featured_course.code }}</li>
                        <li>L:T:P:C::{{ course.featured_course.lectures }}:{{ course.featured_course.tutorials }}:{{ course.specific.practicals }}:{{ course.specific.credits }}</li>
                        <li>Syllabus : <a href="{{ course.featured_course.document.url }}">Download</a></li>
                        <li>Semester : {{ course.featured_course.semester }}</li>
                        <li>Course Type : {{ course.featured_course.get_course_type_display }}</li>
                        <li>Eligible Programmes : {{ course.featured_course.get_eligible_programmes_display }}</li>
                    </ul>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if structure|length != 0 %}
{% for prog_sem in structure %}
{% if prog_sem|length != 0 %}

<h2 class="text-center" style="font-weight:bolder;">Semester {{ forloop.counter }}</h2>

<table class="table table-striped" style="width: 80%; margin: auto; font-size: 1.5em ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Course No.</th>
            <th scope="col">Course Name</th>
            <th scope="col">L</th>
            <th scope="col">T</th>
            <th scope="col">P</th>
            <th scope="col" style="text-align: center">Credits</th>

        </tr>
    </thead>
    <tbody>
        {% for course in prog_sem %}
        <tr>

            <td><a href="{{ course.url }}">{{ course.specific.code }}</a></td>
            <td>{{ course.specific.name }}</td>
            <td>{{ course.specific.lectures }}</td>
            <td>{{ course.specific.tutorials }}</td>
            <td>{{ course.specific.practicals }}</td>
            <td style="text-align: center">{{ course.specific.credits }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne" style="background-color: #fff">
            <h5 class="mb-0" style="text-align: center">
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne" >
More
</button>
</h5>
        </div>

        <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="layoutcard">

                    {% if prog_sem|length != 0 %}

                    <ul class="cards">
                        {% for course in prog_sem %}
                        <li class="cards_item">
                            <div class="card {{ course.eligible_specializations }}">
                                <!-- <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div> -->
                                <div class="card_content">
                                    <h2 class="card_title"><a href="{{ course.url }}">{{ course.specific.name }}</a></h2>
                                    <hr>
                                    <ul>
                                        <li><span>Course code</span> {{ course.specific.code }}</li>
                                        <li>L:T:P:C::{{ course.specific.lectures }}:{{ course.specific.tutorials }}:{{ course.specific.practicals }}:{{ course.specific.credits }}</li>
                                        <li>Syllabus : <a href="{{ course.specific.document.url }}">Download</a></li>
                                        <li>Semester : {{ course.specific.semester }}</li>
                                        <li>Course Type : {{ course.specific.get_course_type_display }}</li>
                                        {% if prog == '1' %}
                                        <li>Eligible Specializations : {{ course.get_eligible_specializations_display }}</li>
                                        {% endif %}
                                        <li>Eligible Programmes : {{ course.specific.get_eligible_programmes_display }}</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        {% endfor %}
                    </ul>
                    <hr> {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endif %}
{% endfor %}
{% else %}
{% if course_list %}
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-8">
        <!-- <h3>All Faculties</h3> -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4" style="text-align:center">
          <button class="btn btn-secondary" type="button">
              <i class="fa fa-search"></i>
            </button>
         <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Course name/code">
      </div>
    </div>
  </div>
  
<table class="table table-striped" style="width: 80%; margin: auto; font-size: 1.5em ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Course No.</th>
            <th scope="col">Course Name</th>
            <th scope="col">L</th>
            <th scope="col">T</th>
            <th scope="col">P</th>
            <th scope="col" style="text-align: center">Credits</th>

        </tr>
    </thead>
    <tbody id="myTable" >
        {% for course in course_list %}
        <tr>

            <td ><a href="{{ course.url }}">{{ course.specific.code }}</a></td>
            <td>{{ course.specific.name }}</td>
            <td>{{ course.specific.lectures }}</td>
            <td>{{ course.specific.tutorials }}</td>
            <td>{{ course.specific.practicals }}</td>
            <td style="text-align: center">{{ course.specific.credits }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endif %}
{% endblock %}


{% block extra_script %}
<script>
function myFunction() {
  var input, filter, table, tr, td, i, tri, code, name, txtValue1, txtValue2;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    tri = tr[i].getElementsByTagName("td");
    code = tri[0];
    name = tri[1];
    if (tr) {
      txtValue1 = code.textContent || code.innerText;
      txtValue2 = name.textContent || name.innerText;
      console.log(txtValue1);
      console.log(txtValue2);
      if ((txtValue1.toUpperCase().indexOf(filter) > -1 )|| (txtValue2.toUpperCase().indexOf(filter) > -1)) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>


{% endblock %}
