{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-event-page{% endblock %}

{% block content %}
	{{ page.title}}
    <h1><a href="{{ page.url }}">{{ page.specific.name }}</a></h1>
    <h2>Course Instructor{% if page.specific.course_instructor.all|length > 1 %}s{% endif %}  [Current]</h2>
    <ul>
        {% for faculty in page.specific.course_instructor.all %}
        	<li><a href="{{ faculty.faculty.url }}">{{ faculty.faculty }}</a></li>
    	{% endfor %}
    </ul>

<!-- Intro -->
    <div>{{ page.specific.description|richtext }}</div>
<!-- Event Details -->
	<ul>
		<li>Course code : {{ page.specific.code }}</li>
		<li>L:T:P:C::{{ page.specific.lectures }}:{{ page.specific.tutorials }}:{{ page.specific.practicals }}:{{ page.specific.credits }}</li>
		<li>Syllabus : <a href="{{ page.specific.document.url }}">Download</a></li>
		<li>Semester : {{ page.specific.semester }}</li>
		<li>Eligible Programmes : {{ page.specific.eligible_programmes }}</li>
		<li>Course Page : <a href="{{ page.specific.course_page_link }}">Click here</a></li>
	</ul>

    

{% endblock %}