{% extends "base.html" %} {% load wagtailcore_tags wagtailimages_tags %} {% block body_class %}template-course-structure{% endblock %} {% block content %}

<h1 class="text-center">{{ page.title }}</h1>
<div>{{ page.intro|richtext }}</div>

<div class="container-fluid">
    <div class="row ">
        <div class="col-xs-4 col-sm-4 col-md-4 active">
            <a href="{{ page.url }}?prog=0" class="btn btn-lg btn-block ">
                <i class="fa fa-check-square-o visible-xs"></i>
                <span class="hidden-xs">Btech</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <a class="btn btn-lg btn-block" href="{{ page.url }}?prog=1">
                <i class="fa fa-check-square-o visible-xs"></i>
                <span class="hidden-xs">Mtech: Aerodynamics & Propulsion</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <a class="btn btn-lg btn-block" href="{{ page.url }}?prog=2">
                <i class="fa fa-check-square-o visible-xs"></i>
                <span class="hidden-xs">Mtech: Manufacturing Science and Engineering</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <a class="btn btn-lg btn-block" href="{{ page.url }}?prog=3">
                <i class="fa fa-check-square-o visible-xs"></i>
                <span class="hidden-xs">Mtech: Computational Mechanics</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <a class="btn btn-lg btn-block" href="{{ page.url }}?prog=4">
                <i class="fa fa-check-square-o visible-xs"></i>
                <span class="hidden-xs">Mtech:  Fluids and Thermal</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <a class="btn btn-lg btn-block" href="{{ page.url }}?prog=5">
                <i class="fa fa-check-square-o visible-xs"></i>
                <span class="hidden-xs">Mtech: Machine Design</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <a href="{{ page.url }}?prog=6" class="btn btn-lg btn-block">
                <i class="fa fa-check-square-o visible-xs"></i>
                <span class="hidden-xs">Phd</span>
            </a>
        </div>
    </div>
</div>

<div class="layoutcard">
    {% for prog_sem in structure %}
        {% if prog_sem|length != 0 %}
        <h2 class="text-center" style="font-weight:bolder;">Semester {{ forloop.counter }}</h2>
        <ul class="cards">
            {% for course in prog_sem %}
            <li class="cards_item">
                <div class="card {{ course.eligible_specializations }}">
                    <!-- <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div> -->
                    <div class="card_content">
                        <h2 class="card_title"><a href="{{ course.url }}">{{ course.specific.name }}</a></h2>
                        <hr>
                        <ul>
                            <li><span>Course code</span> {{ course.specific.code }}</li>
                            <li>L:T:P:C::{{ course.specific.lectures }}:{{ course.specific.tutorials }}:{{ course.specific.practicals }}:{{ course.specific.credits }}</li>
                            <li>Syllabus : <a href="{{ course.specific.document.url }}">Download</a></li>
                            <li>Semester : {{ course.specific.semester }}</li>
                            <li>Course Type : {{ course.specific.get_course_type_display }}</li>
                            {% if prog == '1' %}
                            <li>Eligible Specializations : {{ course.get_eligible_specializations_display }}</li>
                            {% endif %}
                            <li>Eligible Programmes : {{ course.specific.get_eligible_programmes_display }}</li>
                        </ul>
                    </div>
                </div>
            </li>

            {% endfor %}
        </ul>
        <hr>
        {% endif %}
    {% endfor %}


{% if prog == '6' %}
<h2 class="text-center">PhD Course Structure</h2>
{% endif %}
<h2>All courses</h2>
    <table>
        <tr>
            <th>Course code</th>
            <th>Course Name</th>
            <th>Lectures</th>
            <th>Tutorials</th>
            <th>Practicals</th>
            <th>Credits</th>
            <th>Semester</th>
            <th>Course Type</th>
            <th>Eligible Programmes</th>
        </tr>
        {% for course in course_list %}
        <tr>
            <td><a href="{{ course.url }}">{{ course.specific.code }}</a></td>
            <td>{{ course.specific.name }}</td>
            <td>{{ course.specific.lectures }}</td>
            <td>{{ course.specific.tutorials }}</td>
            <td>{{ course.specific.practicals }}</td>
            <td>{{ course.specific.credits }}</td>
            <td>{{ course.specific.semester }}</td>
            <td>{{ course.specific.get_course_type_display }}</td>
            <td>{{ course.specific.get_eligible_programmes_display }}</td>
        </tr>

        {% endfor %}
    </table>
    {% if featured_courses %}
    <!-- List of featured courses here -->
    <ul class="cards">
        {% for course in featured_courses %}
        <li class="cards_item">
            <div class="card h-100">
                <div class="card_content">
                    <h2 class="card_title"><a href="{{ course.featured_course.url }}">{{ course.featured_course.name }}</a></h2>
                    <ul>
                        <li>Course code : {{ course.featured_course.code }}</li>
                        <li>L:T:P:C::{{ course.featured_course.lectures }}:{{ course.featured_course.tutorials }}:{{ course.specific.practicals }}:{{ course.specific.credits }}</li>
                        <li>Syllabus : <a href="{{ course.featured_course.document.url }}">Download</a></li>
                        <li>Semester : {{ course.featured_course.semester }}</li>
                        <li>Course Type : {{ course.featured_course.get_course_type_display }}</li>
                        <li>Eligible Programmes : {{ course.featured_course.get_eligible_programmes_display }}</li>
                    </ul>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock %}

