{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags mechweb_tags %}
{% block body_class %}template-course-structure{% endblock %}

{% block extra_css %}

<style>
    .sem-title {
            {
            % comment %
        }

        background:antiquewhite;

            {
            % endcomment %
        }
    }

    /* tr{
    cursor:pointer;
} */

    .table a {
        text-decoration: underline !important;
    }
</style>

{% endblock extra_css %}




{% block content %}

<div class="">
    <div class="">
        <!-- add breadcrumbs -->
        {% breadcrumbs%}



        <div style="background:#cce5ff">
            <br>
            <h2 class="text-center"> <strong>Course Structure ({{page}})</strong></h2>
            <br>
        </div>

        <div class="text-center row d-flex justify-content-center">

            {% for sem in semesters %}


            <div class="col-sm-12 col-md-6">
                <div class="">

                    <div class="sem-title">
                        <br>
                        <a href="{% pageurl sem %}">
                            <h2 class="text-center" style="font-weight:bolder;">Semester
                                {{sem.specific.semester_number}}</h2>
                        </a>
                        <p class="text-muted">(click on course no. to open course page)</p>
                    </div>
                    <div class="table-responsive-lg container-fluid">

                        <table class="table table-lg table-striped table-hover" style="margin: auto;overflow-x:scroll;">
                            <thead style="background-color:#ffed99;color:#000">
                                <tr>
                                    <th scope="col">Course No.</th>
                                    <th scope="col">Course Name</th>
                                    <th scope="col">L</th>
                                    <th scope="col">T</th>
                                    <th scope="col">P</th>
                                    <th scope="col" style="text-align: center">Credits</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for course in sem.specific.get_ordered_children %}
                                <tr>

                                    <td><a href="{{course.url}}">{{ course.specific.code }}</a></td>
                                    <td>{{ course.specific.name }}</td>
                                    <td>{{ course.specific.lectures }}</td>
                                    <td>{{ course.specific.tutorials }}</td>
                                    <td>{{ course.specific.practicals }}</td>
                                    <td style="text-align: center">{{ course.specific.credits }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br><br>
                </div>
            </div>
            {% comment %} <br> {% endcomment %}
            {% endfor %}


            {% if courses %}

            <div class="col-12">

                <br><br>
                <div class="table-responsive-md container-fluid">

                    <table class="table table-lg table-striped table-hover" style="margin: auto;overflow-x:scroll; ">
                        <thead style="background-color:#ffed99;color:#000">
                            <tr>
                                <th scope="col">Course No.</th>
                                <th scope="col">Course Name</th>
                                <th scope="col">L</th>
                                <th scope="col">T</th>
                                <th scope="col">P</th>
                                <th scope="col" style="text-align: center">Credits</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for course in courses %}
                            <tr onclick="window.location='{{course.url}}';">

                                <td><a href="{{ course.url }}">{{ course.specific.code }}</a></td>
                                <td>{{ course.specific.name }}</td>
                                <td>{{ course.specific.lectures }}</td>
                                <td>{{ course.specific.tutorials }}</td>
                                <td>{{ course.specific.practicals }}</td>
                                <td style="text-align: center">{{ course.specific.credits }}</td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <br><br>
                </div>
            </div>

            {% endif %}

        </div>
    </div>

    {% endblock %}