{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-event-page{% endblock %}

{% block content %}
    <h1><a href="{% pageurl page %}">{{ page.specific.event_name }}</a></h1>

<!-- Carousal -->
    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}
<!-- Intro -->
    <div class="intro">{{ page.intro|richtext }}</div>
<!-- Event Details -->
        <div style="float: left; margin: 10px">
		    <h2>Event type: {{ page.event_type }}</h2>
		    <h4>Starts on : {{ page.start_date }} and  Ends on : {{page.end_date }}</h4>   
		    <h3>Venue: {{ page.venue }} </h3>
        </div>
        <!-- Related Links -->
        <ul>
            {% for item in page.links.all %}
            <div style="float: left; margin: 10px">
                <li><a href="{{item.link}}">{{item.link}}</a></li>  
            </div>
        {% endfor %}
        </ul>

{% endblock %}