{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-event-homepage{% endblock %}

{% block content %}
{{ page.title }}
    <h1>Events</h1>
       <div class="row row-eq-height blog-list">
       {% if event_list.number == 1 %}
             <li class="col-xs-12 col-sm-6 col-md-3 blog-list-item">
               <a href="{% pageurl page.featured_event %}">
                   <div class="image">
                       {% image page.featured_event.specific.poster fill-850x450-c50 as image %}
                       <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt }}" class="" />
                   </div>
                   <div class="text">
                       <h2 class="blog-list-title">{{ page.featured_event.specific.event_name }}</h2>
                       <p>{{ page.featured_event.specific.get_event_type_display }}</p>
                   </div>
                   <div class="small footer">
                       The {{ page.featured_event.specific.get_event_type_display }} will be from {{ page.featured_event.specific.start_date }} to {{ page.featured_event.specific.end_date }} at {{ page.featured_event.specific.get_venue_display }}
                   </div>
               </a>
             </li>
       {% endif %}
           {% for event in event_list %}
               <li class="col-xs-12 col-sm-6 col-md-3 blog-list-item">
                   <a href="{{ event.url }}">
                       <div class="image">
                           {% image event.specific.poster fill-850x450 %}
                       </div>
                       <div class="text">
                           <h2 class="blog-list-title">{{ event.specific.event_name }}</h2>
                           <p>{{ event.specific.event_type|truncatewords:15 }}</p>
                       </div>
                       <div class="small footer">
                   			The {{ page.featured_event.specific.get_event_type_display }} will be from {{ page.featured_event.specific.start_date }} to {{ page.featured_event.specific.end_date }} at {{ page.featured_event.specific.get_venue_display }}
                       </div>
                   </a>
               </li>
           {% endfor %}
           <hr>
           <div class="pagination">
               <span class="step-links">
                   {% if event_list.has_previous %}
                       <a href="?page=1">&laquo; first</a>
                       <a href="?page={{ event_list.previous_page_number }}">previous</a>
                   {% endif %}

                   <span class="current">
                       Page {{ event_list.number }} of {{ event_list.paginator.num_pages }}.
                   </span>

                   {% if event_list.has_next %}
                       <a href="?page={{ event_list.next_page_number }}">next</a>
                       <a href="?page={{ event_list.paginator.num_pages }}">last &raquo;</a>
                   {% endif %}
           </div>
   </div>
{% endblock content %}
