{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load mechweb_tags %}

{% block extra_css %}
<style>
  body {
    background: #F4F7FD;
  }
.faculty-profile a{
    text-decoration:underline
}
.faculty-profile a:hover{
    color: #61a5c2 !important;
}
  .card-margin {
    margin-bottom: 1.875rem;
  }

  .card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
  }
.card{
    overflow:auto;
}
.w3-text-blue{
    color:#222546 !important;
}
.studlist{
    list-style: circle !important;
}
</style>

{% endblock extra_css %}



{% block body_class %}template-faculty-page{% endblock %}

{% block content %}
{% get_media_prefix as MEDIA_URL %}
<!-- Page Container -->
<div class="container faculty-profile card p-lg-3 p-md-0 my-lg-3 my-md-0">

    <!-- The Grid -->
    <div class="w3-row-padding bg-white">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="">
                <div class="w3-display-container p-2">
                    {% if page.specific.photo %} {% image page.specific.photo original as photo %}
                    <img src="{{ photo.url }}" style='width:100%; height:100%; object-fit: contain'
                        alt="{{ photo.alt }}" class="rounded" /> {% else %}
                    {% with MEDIA_URL|add:'images/faculty/'|add:page.slug|add:'.jpg' as image_static %}
                    <img src="{{ image_static }}" style='width:100%; height:100%; object-fit: contain'
                        alt="{{ photo.alt }}" class="" /> {% endwith %} {% endif %}
                </div>
                <div class="w3-container">
                    <h1>{{ page }}</h1>
                    {% if page.specific.on_visit %}
                    <h4> {{ page.specific.get_designation_display }} </h4>
                    <h6>from {{ page.specific.on_insti }}<h6>
                            {% elif page.specific.on_lien %}
                            <h4>{{ page.specific.get_designation_display }}</h4>
                            <h6> on lien to {{ page.specific.on_insti }} </h6>
                            {% elif page.specific.on_depute %}
                            <h4>{{ page.specific.get_designation_display }}</h4>
                            <h6> on deputation to {{ page.specific.on_insti }} </h6>
                            {% else %}
                            <h4>{{ page.specific.get_designation_display }}</h4>
                            {% endif %}
                            <hr> {% if page.specific.office_address_line_1 %}
                            <li>
                                <h4>Office Address</h4>
                                <p>{{ page.specific.office_address_line_1 }}</p>
                            </li>
                            {% endif %} {% if page.specific.office_contact_number %}
                            <li>
                                <h4>Office contact number</h4>
                                <p>{{ page.specific.office_contact_number }}</p>
                            </li>
                            {% endif %} {% if page.specific.home_address_line_1 %}
                            <li>
                                <h4>Home address</h4>
                                <p>{{ page.specific.home_address_line_1 }}</p>
                            </li>
                            {% endif %} {% if page.specific.home_contact_number %}
                            <li>
                                <h4>Home contact Number</h4>
                                <p>{{ page.specific.home_contact_number }}</p>
                            </li>
                            {% endif %} {% if page.specific.email_id %}
                            <li>
                                <h4>Mail ID</h4>
                                <p>{{ page.specific.email_id|noscrape|safe }}</p>
                            </li>
                            {% endif %} {% if page.specific.website %}
                            <li>
                                <h4>
                                    <p><a href="{{ page.specific.website }}">Personal Website</a></p>
                                </h4>
                            </li>
                            {% endif %} {% if page.specific.joining_date %}
                            <li>
                                <h4>Joining Year : {{ page.specific.joining_date|date:"Y" }}</h4>
                            </li>
                            {% endif %} {% if page.specific.scopus_profile_link %}
                            <li><a href="{{ page.specific.scopus_profile_link }}">Scopus</a></li>
                            {% endif %} {% if page.specific.google_scholar_profile_link %}
                            <li><a href="{{ page.specific.google_scholar_profile_link }}">Google Scholar</a></li>
                            {% endif %} {% if page.specific.researchgate_profile_link %}
                            <li><a href="{{ page.specific.researchgate_profile_link }}">ResearchGate</a></li>
                            {% endif %}
                            {% if page.specific.irins_profile_link %}
                            <li><a href="{{ page.specific.irins_profile_link }}">IRINS profile</a></li>
                            {% endif %}
                            {% if page.specific.research_interests %}
                            <li>
                                <h4>Research Interests :</h4>
                                <p>{% for tag in page.specific.research_interests.all %} <a
                                        href="{{ page.get_parent.url }}?tag={{ tag }}">{{ tag }}</a> | {% endfor %}</p>
                            </li>
                            {% endif %}

                            <hr>

                            <div class="w3-container">
                                <h3 class="w3-large w3-text-theme text-center"><i
                                        class="fa fa-notification fa-fw w3-margin-right w3-text-blue"></i>Announcements</b>
                                </h3> {% with announcements=page.faculty_announcement.all %} {% if announcements %}
                                {% for announcement in announcements %}
                                <div class="w3-container">
                                    <h5>{{ announcement.title }}</h5>
                                    <p>{{ announcement.date }}</p>
                                    <p>{{ announcement.message|richtext }}</p>
                                    <a href="{{ announcement.link }}">Link</a>
                                    <div>
                                        <div>{{ announcement.document|truncatechars:25 }}</div>
                                        <a href="{{ announcement.document.url }}">Download pdf</a>
                                    </div>
                                </div>
                                {% endfor %} {% else %}
                                <p>No new Announcments</p>
                                {% endif %} {% endwith %}
                            </div>

                </div>
            </div>
            <br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">
        {% if page.specific.intro or page.specific.body %}
            <div class="w3-container card   w3-margin-bottom">
                <h2 class=" w3-padding-16"><i
                        class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>About</h2>
                <div class="w3-container">
                    <p>{{ page.specific.intro }}</p>
                    <p>{{ page.specific.body|richtext }}</p>
                </div>
            </div>
        {% endif %}

            <!-- <div class="w3-container card  w3-margin-bottom">
        <h2 class=" w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Awards and Achievements</h2>
        <div class="w3-container">
          {% for award in page.award_fac.all %}
          {{ award.award_title }}
          <h5 class="">{{ pic.caption }}</b></h5>
          {% image pic.image fill-500x500 %}
          {% endfor %}
        </div>

      </div> -->

            {% if lab_list %}
            <div class="w3-container card  w3-margin-bottom">
                <h2 class=" w3-padding-16"><i
                        class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Labs</h2>
                {% for lab in lab_list %}
                <div class="w3-container">
                    <h5 class=""><a href="{{ lab.url }}">{{ lab.specific.name }}</a></b></h5>
                    <p>{{ lab.specific.get_lab_type_display }}</p>
                    <hr>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if pub_list %}
            <div class="w3-container card  w3-margin-bottom">
                <h2 class=" w3-padding-16"><i
                        class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Recent Publications
                </h2>
                <ol class="faclist" type="1">
                    {% for pub in pub_list %}
                    {% if forloop.counter < 6 %}
                    <div class="w3-container">
                        <li class="faclist">
                            <h5 class=""><a href="{{ pub.url }}">{{ pub }}</a></h5>
                        </li>

                        <hr>
                    </div>
                    {% endif %}
                    {% endfor %}
                </ol>

                {% endif %}



            </div>

            {% if project_list %}
            <div class="w3-container card  w3-margin-bottom">
                <h2 class=" w3-padding-16"><i
                        class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Recent Projects</h2>

                <ol class="faclist">
                    {% for project in project_list %}
                    <div class="w3-container">
                        <li class="faclist">
                            <h5 class=""><a href="{{ project.url }}">{{ project.specific.name }}</a></h5>
                            <p>{{ project.specific.get_project_type_display }}<br>From:
                                {{ project.specific.start_date|date:"Y" }} to {{ project.specific.end_date|date:"Y" }}
                            </p>
                            <hr>
                        </li>

                    </div>
                    {% endfor %}
                </ol>
            </div>
            {% endif %}

            {% if course_list %}
            <div class="w3-container card  w3-margin-bottom">
                <h2 class=" w3-padding-16"><i
                        class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Courses taught</h2>
                {% for course in course_list %}
                <div class="w3-container">
                    <h5 class=""><a href="{{ course.url }}">[ {{ course.specific.code }}
                            ]{{ course.specific.name }}</a></b></h5>
                    <p>{{ course.specific.get_course_type_display }} for {{ course.specific.eligible_programmes }} in
                        {{ course.specific.semester }} semester</p>
                    <p></p>
                    <hr>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <!-- <div class="w3-container card   w3-margin-bottom">
        <h2 class=" w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Administrative responsibilities</h2>
        <div class="w3-container">
          <ul>
          {% if page.specific.get_additional_roles_display != "Not Applicable" %}
          <li><h5 class="">Additional Role: {{ page.specific.get_additional_roles_display }}</h5></li>
          {% endif %}

          {% if page.specific.get_laboratory_in_charge_display != "Not Applicable" %}
            <li><h5 class="">Laboratory in charge: {{ page.specific.get_laboratory_in_charge_display }}</h5></li>
          {% endif %}

          {% if page.specific.get_faculty_in_charge_display != "Not Applicable" %}
            <li><h5 class="">Faculty in charge: {{ page.specific.get_faculty_in_charge_display }}</h5></li>
          {% endif %}
          </ul>
        </div>

      </div> -->


      {% if students %}
      <div class="container card mb-3">
          <h2 class="p-1"><i
                  class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Students
          </h2>
          <ul>
              <div class="container row  ml-3 ">
              {% for student in students %}

                  <li class="studlist col-lg-3 col-md-6 col-sm-12">
                      <h5 class=""><a href="{{ student.url }}">{{ student }}</a></h5>
                  </li>
                  <hr>
                  {% endfor %}
                </div>
          </ul>

          {% endif %}

            <div>
                {% for pic in page.gallery_images.all %}
                <div>
                    <h3>{{ pic.caption }}</h3>
                    <div>{% image pic.image fill-500x500 %}</div>
                </div>
                {% endfor %}
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>

{% endblock %}