{% extends "base.html" %}

{% load static %}


{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-faculty-homepage{% endblock %}

{% block content %}
    {{ page.title }}
    <h1>Faculty</h1>
        {% if tag %}
            <h2>Results for {{ tag }}</h2>
        {% else %}
            {% if faculty_list.number == 1 %}
                <!-- Intro -->
                <h2>Intro:</h2>
                <div class="intro">{{ page.intro|richtext }}</div>

            {% endif %}
        {% endif %}
    <hr>


    <!-- Faculty List -->
    {% for faculty in faculty_list %}
    <div class="col-xs-12 col-md-6 bread-list-item">
        <div class="row">
            <div class="col-xs-4 col-sm-4 image">
              <a href="{% pageurl faculty %}">
                {% image faculty.specific.photo fill-180x180-c100 %}
                </a>
            </div>
            <div class="col-xs-6 col-sm-7">
              {% if faculty.specific.get_additional_roles_display == "HoD" %}
                  <h3>Head of Department</h3>
              {% endif %}
                <a href="{% pageurl faculty %}">
                    <h2>{{ faculty.specific.first_name }} {{ faculty.specific.last_name }}</h2>
                </a>
                <ul class="bread-meta">
                    <li><span>Designation</span> {{ faculty.specific.get_designation_display }}</li>
                {% if faculty.specific.joining_date %}
                    <li><span>Joining Date</span> {{ faculty.specific.joining_date }}</li>
                {% endif %}

                </ul>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
    <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

    <hr>

    <div class="pagination">
        <span class="step-links">
            {% if faculty_list.has_previous %}
                <a href="?page_no=1{% if tag %}&{{ tag }}{% endif %}">&laquo; first</a>
                <a href="?page_no={{ faculty_list.previous_page_number }}{% if tag %}&{{ tag }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ faculty_list.number }} of {{ faculty_list.paginator.num_pages }}.
            </span>

            {% if faculty_list.has_next %}
                <a href="?page_no={{ faculty_list.next_page_number }}{% if tag %}&{{ tag }}{% endif %}">next</a>
                <a href="?page_no={{ faculty_list.paginator.num_pages }}{% if tag %}&{{ tag }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <h2>Department research focus:</h2>
    <div>
        {% for research_interest in all_research_interests %}
            <a href="{{ page.specific.url }}?tag={{ research_interest }}">{{ research_interest }}</a> |
        {% endfor %}
    </div>
{% endblock %}
