{% extends "base.html" %}

{% load static %}


{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-faculty-homepage{% endblock %}

{% block content %}

    <h1>{{ page.title }}</h1>
    <h2>Intro:</h2>
    <div class="intro">{{ page.intro|richtext }}</div>
    <hr>
    Department research focus:
    this part of code is not working
    {% for research_interest in page.specific.all_research_intersts %}
        <a href="{{ page.specific.url }}?tag={{ research_interest }}">{{ research_interest }}</a>
    {% endfor %}
    <hr>

    {% for faculty in faculty_list %}
    <div>
        {% if faculty.specific.additional_roles == "HoD" %}
            <h3>Head of Department</h3>
        {% endif %}
        <h2><a href="{{ faculty.specific.url }}">{{ faculty.specific.name }}</a></h2>
        {% image faculty.specific.photo fill-50x50 %}
        <h3>Designation  : {{ faculty.specific.designation }}</h3>
        <h3>Joining Date : {{faculty.specific.joining_date }}</h3>

    </div>
    <hr>
    {% endfor %}
    <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>



{% endblock %}
