{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-research-homepage{% endblock %}


{% block content %}


      <br>
    <div class="container-fluid">
        <div class="row padding">
            <div class="col">
                <h1 class="text-center" style="color:#15218d; font-weight:bolder;">{{ page }}</h1>
                <h3 class="text-center" style="color:#15218d; font-weight:bolder;">[{{page.specific.get_pub_type_display }}]</h3>
            </div>
        </div>
    </div>

    <div class="container-fluid">
      <div class="row padding">
        <div class="col-sm-2 col-md-1"></div>
          <div class="col-xs-12 col-sm-4 col-md-3">

              {% if  page.specific.document %}
                <div class="lab_faculty">
                  <h4 style="color:#15218d; font-weight:bolder;">{{ page.specific.document|truncatechars:25 }}<br>
                      <a style="color:#4F5345; font-weight:normal;" href="{{ page.specific.document.url }}">Download</a>
                  </h4>
                </div>
              {% endif %}

              {% if  page.specific.pub_year %}
              <div class="lab_sci_off">
                <h4 style="color:#15218d; font-weight:bolder;"> Year of Publication <br>
                  <h5 style="color:#4F5345; font-weight:normal;">{{ page.specific.pub_year|date:'Y' }}</h5>
                </h4>
              </div>
              {% endif %}

              {% if  page.specific.download_link %}
              <div class="lab_sci_off">
                <h4 style="color:#15218d; font-weight:bolder;"> External Download link: <br>
                  <h5 style="color:#4F5345; font-weight:normal;">{{ page.specific.download_link }}</h5>
                </h4>
              </div>
              {% endif %}

              {% if  page.specific.pub_journal %}
              <div class="lab_sci_off">
                <h4 style="color:#15218d; font-weight:bolder;"> Journal: <br>
                  <h5 style="color:#4F5345; font-weight:normal;">{{ page.specific.pub_journal }}</h5>
                </h4>
              </div>
              {% endif %}

              {% if  page.specific.pub_vol %}
              <div class="lab_sci_off">
                <h4 style="color:#15218d; font-weight:bolder;"> Volume: <br>
                  <h5 style="color:#4F5345; font-weight:normal;">{{ page.specific.pub_vol }}</h5>
                </h4>
              </div>
              {% endif %}

              {% if  page.specific.pub_issue %}
              <div class="lab_sci_off">
                <h4 style="color:#15218d; font-weight:bolder;"> Issue: <br>
                  <h5 style="color:#4F5345; font-weight:normal;">{{ page.specific.pub_issue }}</h5>
                </h4>
              </div>
              {% endif %}

              {% if  page.specific.page_start %}
              <div class="lab_sci_off">
                <h4 style="color:#15218d; font-weight:bolder;"> Start: <br>
                  <h5 style="color:#4F5345; font-weight:normal;">{{ page.specific.page_start }}</h5>
                </h4>
              </div>
              {% endif %}
              {% if  page.specific.page_end %}
              <div class="lab_sci_off">
                <h4 style="color:#15218d; font-weight:bolder;"> End: <br>
                  <h5 style="color:#4F5345; font-weight:normal;">{{ page.specific.page_end }}</h5>
                </h4>
              </div>
              {% endif %}

              {% if  page.specific.citations %}
              <div class="lab_sci_off">
                <h4 style="color:#15218d; font-weight:bolder;"> Citations: <br>
                  <h5 style="color:#4F5345; font-weight:normal;">{{ page.specific.citations }}</h5>
                </h4>
              </div>
              {% endif %}

              <div class="lab_tech_staff">
                <h4 style="color:#15218d; font-weight:bolder;">Technical Staff
                    <a style="color:#4F5345; font-weight:normal;" href="{{ page.specific.technical_staff.url }}">{{ page.specific.technical_staff }}</a>
                </h4>
              </div>
              <div class="lab_address">
                <h4  style="color:#15218d; font-weight:bolder;">Address<br>
                  <span  style="color:#4F5345; font-weight:normal;">{{ page.specific.address }}</span>
                </h4>
              </div>
          </div>

        <div class="col-xs-12 col-sm-7 col-md-7 labbox">
          <h3 class="text-center" style="color:#15218d; font-weight:bolder;">Abstract</h3>
          <!-- <div class="text-center" style="color:#4F5345; font-weight:normal;"><strong> {{ page.specific.intro | richtext }} </strong></div> -->
          <div style="color:#4F5345; font-weight:normal; text-align:left;"> {{ page.specific.abstract|richtext }} </div>
          <!-- <div>Contact Number: {{ page.specific.contact_number }}</div> -->

          {% if page.faculty.all|length != 0 %}
          <div class="container">
              <h3>Faculty</h3>
              <ul>
              {% for faculty in page.faculty.all %}
                  <li>
                      <a href="{{ faculty.faculty.url }}">{{ faculty.faculty }}</a>
                  </li>
                  <li>{{ faculty.research_statement|richtext }}</li>
              {% endfor %}
              </ul>
          {% endif %}
          </div>


        <div class="container">
          {% if page.students.all|length != 0 %}
              <h3>Students</h3>
              <ul>
              {% for student in page.students.all %}
                  <li>
                      <a href="{{ student.student.url }}">{{ student.student }}</a>
                  </li>
                  <li>{{ student.research_statement|richtext }}</li>
              {% endfor %}
              </ul>
          {% endif %}
        </div>



        <div class="container">
          {% if page.postdocs.all|length != 0 %}
              <h3>Postdocs</h3>
              <ul>
              {% for postdoc in page.postdocs.all %}
                  <li>
                      <a href="{{ postdoc.postdoc.url }}">{{ postdoc.postdoc }}</a>
                  </li>
                  <li>{{ postdoc.research_statement|richtext }}</li>
              {% endfor %}
              </ul>
          {% endif %}
        </div>


        <div class="container">
            {% if page.links.all|length != 0 %}
            <h3>Links to refer</h3>
            <ul >
            {% for refer_link in page.links.all %}
                <li>
                    <a href="{{ refer_link.link }}">{{ refer_link.link }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
        </div>
      </div>
    </div>



    {% if page.equipment.all|length != 0 %}
        <h2 class="text-center" style="color:#15218d; font-weight:bolder;">Lab Equipments</h2>
        {% for eqpt in page.equipment.all %}
          <div class="row eqptlist">
            <div class="col-2 ">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 bread-list-item">
              <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 image">
                        <a href="{{ eqpt.link }}">
                         {% image eqpt.photo_1 fill-180x180-c100 %}
                        </a>
                      </div>
                      <div class="col-xs-6 col-sm-7 col-md-9">
                        <a href="{{ eqpt.link }}">
                          <h3 class="text-center" style="color:#15218d; font-weight:bolder;">{{ eqpt.name }}</h3>
                        </a>
                        <ul class="bread-meta">
                          {% if eqpt.company %}
                          <li><span>Make</span> {{ eqpt.company }}</li>
                          {% endif %}
                          {% if eqpt.operator %}
                              <li><span>Operator</span> <a href="{{ eqpt.operator.url }}">{{ eqpt.operator }}</a></li>
                          {% endif %}
                          {% if eqpt.cost %}
                          <li><span>Cost</span> {{ eqpt.cost }}</li>
                          {% endif %}
                          {% if eqpt.funding_agency %}
                              <li><span>Funding Agency</span> <a href="{{ eqpt.funding_agency_link }}"></a>{{ eqpt.funding_agency }}</li>
                          {% endif %}
                          {% if eqpt.date_of_procurement %}
                          <li><span>Date of procurement</span>{{ eqpt.date_of_procurement }}</li>
                          {% endif %}
                          {% if eqpt.specifications %}
                              <li><span>Specifications</span>{{ eqpt.specifications }}</li>
                          {% endif %}
                          {% if eqpt.specifications %}
                              <li><span>Manual</span><a href="{{ eqpt.document.url }}">Download</a></li>
                          {% endif %}


                        </ul>
                      </div>
                  </div>
              </div>
            </div>

    {% endfor %}
  {% endif %}








{% endblock content %}

{% block extra_script %}



{% endblock %}
