{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link href= "{% static "css/base.css" %}" rel="stylesheet" type="text/css">
<link href= "{% static "css/fontawesome.css" %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static "css/owl.theme.default.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "css/owl.carousel.css" %}" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.css" rel="stylesheet" />

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="{% static "images/iitg_sml.gif" %}" type="image/x-icon">

<style>
  .rotateimage {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.loaderback{
  position: fixed;
  left: 0%;
  top: 0%;
  background: #222546;
  width: 100%;
  height: 100vh;
  z-index: 99999;
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -35px 0 0 -56px;
  width: 112px;
  height: 70px;
  *zoom: 1;
  background: #222546;
}
.loading:before,
.loading:after {
  display: table;
  content: "";
}
.loading:after {
  clear: both;
}



</style>

{% endblock %}

<!-- {% block body_class %}template-mech-homepage{% endblock %} -->

{% block content %}
    <!-- navbar and carousal code start -->
    <!-- Preloader -->
    <div class="loaderback">
        <div class="loading">
            <img class="rotateimage" height="100px" width="100px" src="{% static "images/logo.png" %}" >
        </div>
    </div>
    <!-- Preloader End -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
            <div class="" style="display: block; text-align: center">
                <div class="col-xs-12 col-sm-4 col-md-2" >
                    <a class="navbar-brand" href="{% url 'wagtail_serve' '' %}">
                        <img class="logoiitg" src="{% static "images/logo.png" %}" >
                    </a>
                    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 hidden-xs mechname" style="font-family:'Source Sans Pro', sans-serif;">
                <div class="row">
                    <span>
                        <h4 class="mechbrand" style="margin-bottom:0;">Department of </h4>
                    </span>
                </div>
                <div class="row">
                    <span>
                        <h3 class="mechbrandmech" style="margin-top:0; margin-bottom:0;"> Mechanical Engineering</h3>
                    </span>
                </div>
                <div class="row">
                    <span>
                        <h3 class="mechbrand" style="margin-top:0; font-weight: bold;">Indian Institute of Technology Guwahati</h3>
                    </span>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" style="color: #0E0A11; font-family:'Source Sans Pro', sans-serif; line-height:1.45;" href="{% url 'wagtail_serve' '' %}">
                            Home <span class="sr-only"></span>
                        </a>
                    </li>
                    {% for child in navlist %}
                    {% with page_type=child.content_type.name %}
                    {% if page_type == 'Student Home' %}
                    <li class="nav-item">
                        <div class="dropdown show">
                            <a class="nav-link dropdown-toggle dropbtn"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:  #0E0A11; font-family:'Source Sans Pro', sans-serif; line-height:1.45;" href="{{ child.url }}">{{ child.title }}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <ul>
                                    <ul>
                                        <li><a class="dropdown-item" href="{{ child.url }}?prog=0">B. Tech</a></li>
                                        <li><a class="dropdown-item" href="{{ child.url }}?prog=1">M. Tech</a></li>
                                        <li><a class="dropdown-item" href="{{ child.url }}?prog=2">Research Scholars</a></li>
                                    </ul>
                                    <div class="dropdown-divider"></div>
                                    <ul>
                                        <h6 class="dropdown-header text-center" style="color: #fff; font-weight: bold;">Student Activities</h6>
                                        <li><a class="dropdown-item" href="http://www.iitg.ac.in/mesa/">MESA</a></li>
                                        <li><a class="dropdown-item" href="http://www.iitg.ac.in/saeindia_iitg/AutomobileClub.html">Automobile Club</a></li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% if page_type == 'Research Home' %}
                    <li class="nav-item">
                        <div class="dropdown show">
                            <a class="nav-link dropdown-toggle dropbtn"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #0E0A11; font-family:'Source Sans Pro', sans-serif; line-height:1.45;" href="{{ child.url }}">{{ child.title }}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <ul>
                                    {% for children in child.get_children %}
                                    {% if children.title == "Publications"%}
                                    {% else %}
                                    <li><a  class="dropdown-item" href="{{ children.url }}">{{ children.title }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    <div class="dropdown-divider"></div>
                                    {% for children in child.get_children %}
                                    {% if children.title == "Publications"%}
                                    <ul>
                                        <h6 class="dropdown-header text-center" style="color: #fff; font-weight: bold;">{{ children.title }}</h6>
                                        <li><a class="dropdown-item" href="{{ children.url }}?pub_type=3">Books</a></li>
                                        <li><a class="dropdown-item" href="{{ children.url }}?pub_type=4">Book Chapters</a></li>
                                        <li><a class="dropdown-item" href="{{ children.url }}?pub_type=1">Conference Publications</a></li>
                                        <li><a class="dropdown-item" href="{{ children.url }}?pub_type=2">Journal Publications</a></li>
                                        <li><a  class="dropdown-item" href="{{ children.url }}?pub_type=0">Patents</a></li>
                                        <li><a class="dropdown-item" href="{{ children.url }}?pub_type=5">Posters</a></li>
                                    </ul>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% if page_type == 'Course Structure' %}
                    <li class="nav-item">
                    <div class="dropdown show">
                    <a class="nav-link dropdown-toggle dropbtn"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #0E0A11; font-family:'Source Sans Pro', sans-serif; line-height:1.45;" href="{{ child.url }}">{{ child.title }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <ul>
                        <li><a class="dropdown-item"href="{{ child.url }}?prog=0">UG Courses</a></li>
                        <!-- <li><a class="dropdown-item" href="{{ child.url }}?prog=1">Masters</a></li> -->
                        <ul>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header text-center" style="color: #fff; font-weight: bold;">M.Tech courses</h6>
                            <li><a class="dropdown-item" href="{{ child.url }}?prog=1">Aerodynamics & Propulsion</a></li>
                            <li><a class="dropdown-item" href="{{ child.url }}?prog=3">Computational Mechanics</a></li>
                            <li><a class="dropdown-item" href="{{ child.url }}?prog=4">Fluids and Thermal</a></li>
                            <li><a class="dropdown-item" href="{{ child.url }}?prog=5">Machine Design</a></li>
                            <li><a class="dropdown-item" href="{{ child.url }}?prog=2">Manufacturing Science and Engineering</a></li>
                        </ul>
                        <!-- <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="{{ child.url }}?prog=2">Doctoral</a></li> -->
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="{{ child.url }}?prog=7">PG Courses & Electives</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="{{ child.url }}?prog=8">All Courses</a></li>
                    </ul>
                    {% endif %}
                    {% if page_type == 'Research Home' or page_type == 'Course Structure' or page_type == 'Student Home' or page_type == 'aboutiitgmech' or page_type == 'categories home' or page_type == 'Event Home' or page_type == 'Alumni Home' or page_type == 'Committee Home' or page_type == 'generic page' %}
                    {% else %}
                    <li class="nav-item"> <a class="nav-link"  role="button" style="color: #0E0A11; font-family:'Source Sans Pro', sans-serif; line-height:1.45;" href="{{ child.url }}">{{ child.title }}</a></li>
                    {% endif %}
                    {% endwith %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="bd-example">
        <div id="carouselslider" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                {% for photo in page.gallery_images.all %}
                <li data-target="#carouselslider" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
                {% endfor %}
            </ul>
            <div class="carousel-inner">
                {% for photo in page.gallery_images.all %}
                {% image photo.photo original as tmp_photo %}
                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                    <img src="{{ tmp_photo.url }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">{{ photo.caption }}</div>
                </div>
                {% endfor %}
                <a class="carousel-control-prev" href="#carouselslider" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselslider" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Split screen Code starts -->
    <div class="container-fluid newscontainer">
        <div class="row padding">
            <div class="col-sm-12 col-xs-12 col-md-4 promo">
                <figure>
                    <img height="100px" width="100px" src="{% static "images/img2.jpg" %}">
                </figure>
                <div class="promo-text" >
                    <h3>About ME,IITG</h3>
                    <p  class=""style="text-align: justify;text-justify: inter-word">{{ page.intro }}</p>
                    <p class="read-more">
                      {% for child in navlist %}
                       {% with page_type=child.content_type.name %}
                        {% if page_type == 'aboutiitgmech' %}
                        <a class="button" href="{{ child.url }}">Read More</a>
                        {% endif %}
                       {% endwith %}
                      {% endfor %}
                    </p>
                </div>
            </div>
            <hr>
            <div class="col-sm-12 col-xs-12 col-md-7 newsbox">
                <div class="tab">
                    <button class="tablinks text-center "  onclick="openCity(event, 'News')">News</button>
                    <button class="tablinks text-center "  onclick="openCity(event, 'Announcements')">Announcements</button>
                    <button class="tablinks text-center "  onclick="openCity(event, 'Events')">Events</button>
                    <!-- <button class="tablinks text-center" onclick="openCity(event, 'Others')">Others</button> -->
                </div>
                <div id="News" class="tabcontent">
                    {% for notification in page.text_panels.all %}
                    {% if notification.content_type == "0" %}
                    <div class="container">
                        <div class="card" style="margin: 5px 0;">
                            <div class="row">
                                <div class="col-md-12" style="padding:2px 25px;">
                                    <div class="card-block text-center">
                                        <h4 class="card-title "style="font-size: 1.2em">{{ notification.title }}</h4>
                                        <p class="card-text">
                                            Date:{{ notification.date }}
                                            <br>
                                            {{ notification.description|richtext }}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <!-- <div class="card-img-bottom">
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% for award in top_awards %}
                    <div class="container">
                        <div class="card" style="margin: 5px 0;">
                            <div class="row">
                                <div class="col-md-12" style="padding:2px 25px;">
                                    <div class="card-block text-center">
                                      <!-- <h4 class="card-title "style="font-size: 1.2em">Achievement!</h4> -->
                                      <p>
                                          {{ award.award_title }}({{ award.get_award_type_display }}) awarded to {{ award.faculty }} by {{ award.conferrer }} {{ award.title }}
                                      </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="Announcements" class="tabcontent">
                {% for notification in page.text_panels.all %}
                {% if notification.content_type == "1" %}
                    <div class="container">
                        <div class="card" style="margin: 5px 0;">
                            <div class="row">
                                <div class="col-md-12" style="padding:2px 25px;">
                                    <div class="card-block text-center">
                                        <h4 class="card-title "style="font-size: 1.2em">{{ notification.title }}</h4>
                                        <p class="card-text">
                                            Date:{{ notification.date }}
                                            <br>
                                            {{ notification.description|richtext }}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                <!-- <div class="card-img-bottom">

                                </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                <div id="Events" class="tabcontent">
                {% for event in new_events %}
                    <div class="container">
                        <a href="{{ event.url }}">
                            <div class="card" style="margin: 5px 0;">
                                <div class="row">
                                    <div class="col-md-12" style="padding:2px 25px;">
                                        <div class="card-block text-center">
                                            <h4 class="card-title " style="font-size: 1.2em">{{ event.event_name }} [{{ event.get_event_type_display }}]</h4>
                                            <p class="card-text">
                                                From:{{ event.start_date }} To: {{ event.end_date }} at {{ event.get_venue_display }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <!-- <div class="card-img-bottom">
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="w3-row w3-center w3-padding-16" style="background: linear-gradient(190deg, #222546 0%,#5085A5 100%);">
        <div class="w3-quarter w3-section" style="color: #fff">
            <span class="w3-xlarge">45+</span><br>
            <span class="w3-xlarge">Faculty</span>
        </div>
        <div class="w3-quarter w3-section" style="color: #fff">
            <span class="w3-xlarge">900+</span><br>
            <span class="w3-xlarge">Students</span>
        </div>
        <div class="w3-quarter w3-section" style="color: #fff">
            <span class="w3-xlarge">25+</span><br>
            <span class="w3-xlarge">Laboratories</span>
        </div>
        <div class="w3-quarter w3-section" style="color: #fff">
            <span class="w3-xlarge">25 Years</span><br>
            <span class="w3-xlarge">Legacy</span>
        </div>
    </div>
    <!-- split screen code ends -->
    <!-- /* table for research area showcase */ -->
    <div class="container-fluid" style="margin-bottom: 5px;margin-top:30px">
        <div class="row">
            <div class="col">
                <div class="section-header">
                    <h2 style="font-weight:bolder">Research Areas</h2>
                </div>
            </div>
        </div>
        <div class="w3-row w3-padding-16">
            {% for category in categories %}
            {% if category.category != '0' %}
            <div class="w3-third">
                <div class="single-service">
                    <div class="service-bg">
                        {% image category.specific.photo original style='width:100%; height:100%; object-fit: contain' %}
                        <h2><a href="{% url 'wagtail_serve' '' %}faculty?cat={{ category.category }}">{{ category.title }}</a></h2>
                    </div>
                    <div class="service-text sidebar-box" style="text-align: justify;text-justify: inter-word;">
                        <p>{{ category.specific.intro|richtext }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
     <!-- end of research categories row -->
    <div class="w3-padding-64 messagebox">
      <div class="w3-row-padding">
        <div class="w3-col l4 m6">
          <span style="display: block; text-align: center">
            {% if page.specific.HOD_image %}
              {% image page.specific.HOD_image original as photo %}
              <img class="w3-image w3-round-large w3-hide-small" src="{{ photo.url }}" alt="{{ photo.alt }}" style="align-items: center; width:17em; height:20em; margin-top: 2em "   />
            {% else %}
                {% with MEDIA_URL|add:'images/placeholder.jpg' as image_static %}
                    <img class="w3-image w3-round-large w3-hide-small w3-grayscale" src="{{ image_static }}" alt="placeholder" width="335" height="471" />
                {% endwith %}
            {% endif %}
          </span>
        </div>

          <!-- <h1 class="w3-xxxlarge w3-text-red"><b>Pixels, who?</b></h1> -->
          <div class="w3-col l8 m6">
          {% if page.specific.HOD_message %}
          <h1 class="w3-xxlarge" style="color: #ffffff" ><b>From HOD's Desk</b></h1>
          <p class="w3-xlarge">{{ page.specific.HOD_message|richtext }}</p>
            {% endif %}
          <!-- <p class="read-more"> <a href="{{ hod_url }}" class="btn-area button">Read more.. <i class="
            fa fa-long-arrow-right"></i>
          </a>
          </p> -->
          <br><br>
          <div class="" style="display:block; text-align:right">
            <strong style="text-align: right; padding-right:40px;" >{{ hod_name }}</strong><br>
            <strong style="text-align: right; padding-right:40px;">HOD, Department of Mechanical Engineering</strong>
          </div>

        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark pt-4"  style="background-color: #222546; font-family: 'Source Sans Pro', sans-serif;">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-4 mx-auto">

            <!-- Content -->
            <h6 class="font-weight-bold ml-1 mt-3 mb-4">Department of Mechanical Engineering</h6>
            <div class="ml-1 font-weight-light">
              Indian Institute of Technology Guwahati
            </div>
            <div class="ml-1 font-weight-light">
              North Guwahati, Guwahati, Assam 781039
            </div><br>
            <div class="">
              <a class="btn-floating btn-fb mx-1" style="color:#fff" href="#!">
                <i class="fa fa-envelope">&nbsp;&nbsp;&nbsp;</i>mechoff@iitg.ac.in
              </a>
            </div>
            <div class="">
              <a class="btn-floating btn-fb mx-1" style="color:#fff" href="#!">
                <i class="fa fa-phone">&nbsp;&nbsp;&nbsp;</i>  +91 361 2582700
              </a>
            </div>
            <div class="">
              <a class="btn-floating btn-fb mx-1" style="color:#fff" href="#!">
                <i class="fa fa-fax">&nbsp;&nbsp;</i>  +91 361 2582699
              </a>
            </div>
            <div class="">
              <a class="btn-floating btn-fb mx-1" style="color:#fff" href="#!">
                <i class="fa fa-chrome">&nbsp;</i> <a href="http://www.iitg.ac.in/mech">Old Website</a>
              </a>
            </div>


          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none">

          <!-- Grid column -->
          <div class="col-md-2 mx-auto">


          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none">

          <!-- Grid column -->
          <div class="col-md-2 mx-auto">

            <!-- Links -->
            <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Quick links</h6>

            <ul class="list-unstyled" style="list-style: disc;">
                <li>
                <a href="{% url 'wagtail_serve' '' %}recruitment">Faculty Recruitment</a>
              </li>
                <li>
                <a href="{% url 'wagtail_serve' '' %}search">Search</a>
              </li>

              <li>
                <a href="http://www.iitg.ac.in/">IITG Home</a>
              </li>
              <li>
                <a href="https://www.iitg.ac.in/mech/includes/workshop/index.html">Central Workshop</a>
              </li>
              <li>
                <a href="http://www.iitg.ac.in/phones/">Phone Directory</a>
              </li>
              <li>
                <a href="http://www.iitg.ac.in/mech/Rutag-pal/index1.htm">RuTAG-NE</a>
              </li>

            </ul>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Departmental Links</h6>

        <ul class="list-unstyled" style="list-style: disc;">
        <li>
        {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name }}, <a href="{% url 'wagtail_serve' ''%}admin">Go to CMS</a>
        {% else %}
            <a href="{% url 'wagtail_serve' '' %}admin/login/?next={% url 'wagtail_serve' '' %}admin/">Hi Guest! Login?</a>
        {% endif %}
        </li>
          <li>
          {% for child in navlist %}
             {% with page_type=child.content_type.name %}
             {% if page_type == 'Committee Home' %}
              <a  href="{{ child.url }}">{{ child.title }}</a>
             {% endif %}
             {% endwith %}
          {% endfor %}
          </li>
            <li>
            {% for child in navlist %}
            {% with page_type=child.content_type.name %}
            {% if page_type == 'Event Home' %}
            <a  href="{{ child.url }}">{{ child.title }}</a>
            {% endif %}
            {% endwith %}
            {% endfor %}
            </li>
          <!-- <li>
            <a href="http://www.iitg.ac.in/mech/meadmin.php">Departmental Committees</a>
          </li> -->
          <li>
            <a href="{% url 'wagtail_serve' '' %}downloads">Downloads</a>
          </li>
          <li>
            <a href="http://172.16.73.54/mrbs/web/day.php?year=2019&month=06&day=17&area=3&room=12">Online Hall Booking</a>
          </li>
          <li>
            <a href="{% url 'wagtail_serve' '' %}useful-links">Useful links</a>
          </li>



        </ul>

        </div>
        <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->


      <hr>

      <!-- Copyright -->
      <div class="w3-container">
        <div class="w3-third ">
          <div class="ml-1 font-weight-light">
            Website Queries
          </div>
          <div class="">
            <a class="btn-floating btn-fb mx-1" style="color:#fff" href="mailto:mechwebadmin@iitg.ac.in">
              <i class="fa fa-envelope"></i> mechwebadmin@iitg.ac.in
            </a>
          </div>
          <div class="ml-1 font-weight-light">
            Developed by <a href="https://github.com/adsk2050/iitg_mechanical_website">Mechanical Website Team</a>
          </div>
          <div class="ml-1 font-weight-light">
            Last Updated: 30/9/2020
          </div>
        </div>

        <div class="w3-third">
          <div class="copyright text-center py-3">© 2020 Department of ME,<a href="https://iitg.ac.in"  style="color: #fff"> IIT Guwahati</a>
            <br><br>
            <span class=""><a href="https://forms.gle/XrjrddqviPbfhS3t9" style="color: #fff">Website feedback form</a></span>
          </div>
        </div>



        <!-- Copyright -->
        <div class="w3-third" >
          <div class="w3-row" style="padding:10px">
            <div align='center'><a href='https://www.hit-counts.com/'><img src='https://www.hit-counts.com/counter.php?t=MTQ1MTk1NA==' border='2' alt='logo creation'></a><BR><a href='https://www.glowgraphics.co.uk/'></a></div>
          </div>


          <div class="w3-row">
              <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
          </div>

        </div>

      </div>




    </footer>
    <!-- Footer -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static "js/owl.carousel.js" %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.js"></script>
    <script>



    /* date time script */
    function showTime(){
        var date = new Date();
        var h = date.getHours(); // 0 - 23
        var m = date.getMinutes(); // 0 - 59
        var s = date.getSeconds(); // 0 - 59
        var day = date.getDate();
        var month = date.getMonth()+1;
        var year = date.getFullYear();
        var session = "AM";

        if(h == 0){
            h = 12;
        }

        if(h > 12){
            h = h - 12;
            session = "PM";
        }

        h = (h < 10) ? "0" + h : h;
        m = (m < 10) ? "0" + m : m;
        s = (s < 10) ? "0" + s : s;

        var time = day + "/" + month + "/" + year + "     " + h + ":" + m + ":" + s + " " + session;
        document.getElementById("MyClockDisplay").innerText = time;
        document.getElementById("MyClockDisplay").textContent = time;

        setTimeout(showTime, 1000);

    }

    showTime();

    /*---------------*/

    $(document).ready( function() {
      $('.carousel').carousel();
      $('#carouselExampleIndicators').on('slide.bs.carousel', function(e) {
          var from = $('.nav li.active').index();
          var next = $(e.relatedTarget);
          var to =  next.index();

          $('.nav li').removeClass('active').eq(to).addClass('active');
      });
    });

      $(document).ready(function(){
        $('.testimonial-slider').owlCarousel({
          items:3,
          itemsDesktop:[1000,3],
          itemsDesktopSmall:[979,2],
          itemsTablet:[7768,2],
          itemsMobile:[650,1],
          pagination:true,
          autoplay:true,
          loop:true,
          margin:10,
         nav:true
        })
      });

    // script nav scrolling bac
      $(function () {
      $(document).scroll(function () {
        var $nav = $(".fixed-top");
        $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());

        var $navlink = $(".nav-link")
        $navlink.toggleClass('colourchange', $(this).scrollTop() > $nav.height());

        var $brand = $(".mechbrand")
        $brand.toggleClass('mechbrandscroll', $(this).scrollTop() > $nav.height());

        var $brandm = $(".mechbrandmech")
        $brandm.toggleClass('mechbrandmechscroll', $(this).scrollTop() > $nav.height());
      });
    });


    function openCity(evt, cityName) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the link that opened the tab
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }


    $(window).on('load',function() { //when the document is loaded
      $(".loaderback").delay(1500).fadeOut("slow"); //fade out preloader. You can add your custom effects here too.
    });



    </script>
    <!-- button colour change -->
    <!-- <script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("myDIV");
    var btns = header.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
      });
    }
    </script> -->
{% endblock %}
