{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags cache %}

{% block extra_css %}

<style>
    .rotateimage {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150px;
        height: 150px;
        margin: -60px 0 0 -60px;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }

    @-moz-keyframes spin {
        100% {
            -moz-transform: rotate(360deg);
        }
    }

    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    .loaderback {
        position: fixed;
        left: 0%;
        top: 0%;
        background: #fff;
        width: 100%;
        height: 100vh;
        z-index: 99999;
    }

    .loading {
        position: fixed;
        left: 50%;
        top: 50%;
        margin: -35px 0 0 -56px;
        width: 112px;
        height: 70px;
        *zoom: 1;
        background: #fff;
    }

    .loading:before,
    .loading:after {
        display: table;
        content: "";
    }

    .loading:after {
        clear: both;
    }

    .stage {
        padding: 40px;
        text-align: center;
    }

    .stage a {
        line-height: 1em;
        letter-spacing: 0.06em;
        font-weight: normal;
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        background: #231f20;
        display: inline-block;
        padding: 15px 12px 15px 15px;
        transition: background 200ms;
        border-radius: 4px;
    }

    .stage a:hover {
        background: #61a5c2;
        color: #000;
    }

    .stage a:after {
        font-family: 'FontAwesome', sans-serif;
        font-weight: 300;
        content: "\f105";
        margin-left: 20px;
        color: #fff;
        font-size: 18px;
        vertical-align: middle;
        transition: color 200ms;
    }

    .stage a:hover:after {
        color: #000;
    }

    .tabcontent ul li {
        border-bottom: 1px dotted #CCCCCC;

    }

    .tabcontent {
        border-left: 1px solid #E2E5E9;
        padding-left: 10px;
        margin-top: 20px;
        height: 450px;
    }

    .tabcontent a {
        text-decoration: underline;
        color: #61a5c2;
    }

    .underline--magical {
        background-image: linear-gradient(190deg, #a9d6e5 20%, #014f86 80%);
        background-repeat: no-repeat;
        background-size: 100% 0.2em;
        background-position: 0 100%;
        transition: background-size 0.25s ease-in;
    }

    .date {
        padding: 10px 2px;
    }

    .customBtn {
        cursor: pointer;
        display: inline-block;
        background: rgba(23, 23, 23, .8);
        border-radius: 5px;
        padding: 5px 10px;
        color: #fff !important;
        text-decoration: none !important;
        margin-right: 5px;
    }


    .customBtn>i {
        color: #61a5c2;
    }

    .customBtn:hover {
        background: #999999;
    }

    .customBtn:active {
        background: #171717ad;
    }

    .lightBackground {
        background: #F4F4F4;
    }
    .lightBackground1 {
        background: #f9f9f9;
    }

</style>

{% endblock %}


{% block content %}
<!-- Preloader -->
<div class="loaderback">
    <div class="loading">
        <img class="rotateimage" height="100px" width="100px" src="{% static "images/logo.png" %}">
    </div>
</div>
<!-- Preloader End -->
<div class="bd-example row d-flex justify-content-center lightBackground">
    {% if page.yt_video_code %}

    {% if not page.research_profile_documentary_code %}

    <div class="col-sm-12 col-md-6">
        <div id="carouselslider" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
            <ul class="carousel-indicators">
                {% for photo in page.gallery_images.all %}
                <li data-target="#carouselslider" data-slide-to="{{ forloop.counter0 }}"
                    class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
                {% endfor %}
            </ul>
            <div class="carousel-inner">
                {% for photo in page.gallery_images.all %}
                {% image photo.photo original as tmp_photo %}
                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                    <img src="{{ tmp_photo.url }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption">{{ photo.caption }}</div>
                </div>
                {% endfor %}
                <a class="carousel-control-prev" href="#carouselslider" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselslider" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-sm-12 col-md-6">
        <div class="research-profiles-video-div">
            <iframe id="research-profiles-video-frame" class="" style="width:100%; height:400px"
                src="https://www.youtube-nocookie.com/embed/{{page.research_profile_documentary_code}}?modestbranding=1"
                frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    {% endif %}
    <div class="col-sm-12 col-md-6">
        <div class="yt-video-div">
            <iframe id="yt-video-frame" class="yt-video"
                src="https://www.youtube-nocookie.com/embed/{{page.yt_video_code}}?modestbranding=1" frameborder="0"
                allowfullscreen></iframe>
        </div>
    </div>
    {% else %}
    <div class="col-sm-12 col-md-12">
        <div id="carouselslider" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000" style="z-index: 0;">
            <ul class="carousel-indicators">
                {% for photo in page.gallery_images.all %}
                <li data-target="#carouselslider" data-slide-to="{{ forloop.counter0 }}"
                    class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
                {% endfor %}
            </ul>
            <div class="carousel-inner">
                {% for photo in page.gallery_images.all %}
                {% image photo.photo original as tmp_photo %}
                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                    {% if forloop.counter0 %}
                        <img data-src="{{ tmp_photo.url }}" class="d-block w-100" alt={{photo.caption}}>
                    {% else %}
                        <img src="{{ tmp_photo.url }}" class="d-block w-100" alt={{photo.caption}}>
                    {% endif %}
                    <div class="carousel-caption">{{ photo.caption }}</div>
                </div>
                {% endfor %}
                <a class="carousel-control-prev" href="#carouselslider" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselslider" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<!-- Split screen Code starts -->
<div class="container-fluid newscontainer p-sm-0  pl-md-5 ">
    <div class="row padding d-flex justify-content-between mb-2">
        <div class="col-md-12 col-lg-4 promo lightBackground">
            <figure>
                <img height="100px" width="100px" src="{% static "images/img2.jpg" %}">
            </figure>

            {% cache 7200 aboutiitgmech %}
            <div class="promo-text">
                <h2>About ME,IITG</h2>
                <br>
                <p class="" style="text-align: justify;text-justify: inter-word">{{ page.intro }}</p>
                <p class="text-center">
                    {% for child in navlist %}
                    {% with page_type=child.content_type.name %}
                    {% if page_type == 'aboutiitgmech' %}
                
                    <a class="customBtn p-3" href="{{ child.url }}">Read More <i class="fa fa-book"></i></a>
                    
                    {% endif %}
                    {% endwith %}
                    {% endfor %}
                </p>
            </div>
            {% endcache %}
        </div>


        <div class="col-md-12 col-lg-8 p-sm-0 px-md-5 newsbox h-100">
            <div class="row d-flex justify-content-around">
                <div id="News" style="max-width:325px;" class="tabcontent col-sm-12 col-md-4 card px-3 lightBackground1">
                    <div class="row">
                        <h4 class="mr-auto underline--magical p-2 my-2">News <i class="fa fa-newspaper"></i></h4>
                        {%cache 86400 news_announcments_page_ptr %}
                        <a href="{{news_announcments_page.url}}" class="float-none my-3 customBtn">
                            View all<i class="ml-1 fa fa-link"></i>
                        </a>
                        {%endcache%}
                    </div>
                    <div class="news_list">
                        <ul>

                            {% for notification in news_annncmnts %}
                            {% if notification.info_type == "0" %}
                            <li style="font-size: 15px;" class="py-2">
                                <div>
                                    <a href="{{notification.url}}">{{ notification.title}}</a>
                                    {% if notification.badge %}
                                    <span
                                        class="badge badge-danger pull-right p-1">{{notification.get_badge_display}}</span>
                                    {% endif %}
                                </div>
                                {% if notification.date %}
                                <div class="date">
                                    <font size="-1"><i class="fa fa-calendar"></i> {{ notification.date }}</font>
                                </div>
                                {% endif %}
                            </li>

                            {% endif %}
                            {% endfor %}

                            {% for award in top_awards %}

                            <li style="font-size: 15px;" class="py-2">
                                <a>{{ award.award_title }}({{ award.get_award_type_display }}) awarded to
                                    <strong>{{ award.faculty }}</strong> by <strong>{{ award.conferrer }}
                                    </strong>{{ award.title }}</a>
                                </a> </a>

                                {% if notification.date %}
                                <div class="date">
                                    <font size="-1"><i class="fa fa-calendar"></i> {{ notification.date }}</font>
                                </div>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>

                    </div>

                </div>
                <div id="Announcements" style="max-width:325px;" class="tabcontent col-sm-12 col-md-4 card px-3 lightBackground1">
                    <div class="row">
                        <h4 class="mr-auto underline--magical p-2 my-2">Announcements<i class="fa ml-1 fa-bullhorn"></i></h4>
                        {%cache 86400 news_announcments_page_ptr %}

                        <a href="{{news_announcments_page.url}}" class="float-none my-3 customBtn">
                            View all<i class="ml-1 fa fa-link"></i>
                        </a>
                        {%endcache%}
                    </div>
                    <div class="news_list">
                        <ul>

                            {% for notification in news_annncmnts %}
                            {% if notification.info_type == "1" %}
                            <li style="font-size: 15px;" class="pt-3">
                                <div>
                                    <a href="{{notification.url}}">{{ notification.title}}</a>
                                    {% if notification.badge %}
                                    <span
                                        class="badge badge-danger pull-right p-1">{{notification.get_badge_display}}</span>
                                    {% endif %}
                                </div>
                                {% if notification.date %}
                                <div class="date">
                                    <font size="-1"><i class="fa fa-calendar"></i> {{ notification.date }}</font>
                                </div>
                                {% endif %}
                            </li>

                            {% endif %}
                            {% endfor %}
                        </ul>

                    </div>
                </div>
                <div id="Events" style="max-width:325px;" class="tabcontent col-sm-12 col-md-4 card px-3 lightBackground1">
                    <div class="row">
                        <h4 class="mr-auto underline--magical p-2 my-2">Events <i class="fa fa-calendar-alt"></i></h4>
                        {%cache 86400 events_home_page_ptr%}
                        <a href="{{events_home_page.url}}" class="float-none my-3 customBtn">
                            View all<i class="ml-1 fa fa-link"></i>
                        </a>
                        {%endcache%}
                    </div>
                    <div class="news_list">
                        <ul>
                            {% for event in new_events %}
                            <li style="font-size: 15px;" class="py-2"> <a href="{{event.url}}">{{event.title}}
                                    [{{event.get_event_type_display}}]</a>
                                </a> </a>
                                {% if event.start_date or event.start_at%}
                                <div class="date">
                                    <font size="-1"><i class="fa fa-calendar"></i> {{ event.start_date }}
                                        {{event.start_at}}
                                        {% if event.end_date or event.end_by %}
                                        - {{ event.end_date }} {{event.end_by}}
                                        {% endif %}
                                        <div class="location">
                                            <i class="fa fa-map-marker mr-1" aria-hidden="true"></i>
                                            {{ event.get_venue_display }}

                                            {% if not event.is_past_due %}
                                            {% comment %} <div class="ml-1"> {% endcomment %}
                                                <span class="badge badge-warning p-1">Upcoming</span>
                                                {% comment %} </div> {% endcomment %}
                                            {% endif %}

                                        </div>
                                    </font>
                                </div>
                                {% endif %}
                            </li>

                            {% endfor %}
                        </ul>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-0 mt-3">
            {% if page.yt_video_code %}
            <div class="yt-video-div2">
                <iframe class="yt-video2"
                    src="https://www.youtube-nocookie.com/embed/{{page.yt_video_code}}?modestbranding=1&showinfo=0&fs=0"
                    frameborder="0" allowfullscreen></iframe>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="row d-flex justify-content-around text-white text-center" style="background:#171717cc">
    <div class="col-12 col-md-3 p-5">
        <span class="w3-xlarge">45+</span><br>
        <span class="w3-xlarge">Faculty <i class="fa fa-users" aria-hidden="true"></i>
        </span>
    </div>
    <div class="col-12 col-md-3 p-5">
        <span class="w3-xlarge">900+</span><br>
        <span class="w3-xlarge">Students <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </span>
    </div>
    <div class="col-12 col-md-3 p-5">
        <span class="w3-xlarge">25+</span><br>
        <span class="w3-xlarge">Laboratories <i class="fa fa-flask" aria-hidden="true"></i></span>
    </div>
    <div class="col-12 col-md-3 p-5">
        <span class="w3-xlarge">25 Years</span><br>
        <span class="w3-xlarge">Legacy <i class="fa fa-trophy" aria-hidden="true"></i></span>
    </div>
</div>
<!-- split screen code ends -->
<!-- /* table for research area showcase */ -->
{%cache 86400 research_area_showcase%}
<div class="container-fluid" style="margin-bottom: 5px;margin-top:30px">
    <div class="row">
        <div class="col">
            <div class="section-header">
                <h2 style="font-weight:bolder">Research Areas</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <style>
            .customBtn h4{
                margin:0px;
                font-family: ''Open Sans', sans-serif !important;
                padding:0px 20px;
                color:white !important;

              }
              
              p{
                font-size:medium;
                padding:0px 20px;
                text-align: justify;
                text-justify: inter-word;
              }
                .customBtn{
                  background:#231f20;
              }
        </style>
        {% for category in categories %}
        {% if category.category != '0' %}
        <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
            <div class="card">
                {% image category.specific.photo original as photo %}
                <a href="{% url 'wagtail_serve' '' %}faculty?cat={{ category.category }}">
                <img class="card-img-top img-fluid rounded" style="height:350px" src="{{photo.url}}" alt="">

            </a>
                <div class="card-body">
                    <div class="text-center">
                  <a class="customBtn px-md-5 py-md-4" href="{% url 'wagtail_serve' '' %}faculty?cat={{ category.category }}"><h5> {{ category.title }}</h5></a>
                    </div>
                  <p class="p-2">{{ category.specific.intro|richtext }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <br>
</div>
{%endcache%}
<!-- end of research categories row -->

{% endblock %}

{% block extra_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easy-ticker/2.0.0/jquery.easy-ticker.min.js"
    integrity="sha512-tQ+m/Q8eMfIQqjhnq2v7X9/z081Mq+SkSualPcrqzYlrHPGzm2NIZRo3TB0fvwe5oj5POb29U2vCZi8LYdl/ug=="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js">
</script>
<script>
    $(document).ready(function () { //when the document is ready
        $(".loaderback").fadeOut(
            "fast"); //fade out preloader. You can add your custom effects here too.

        setTimeout(() => {
            $('.news_list').easyTicker({
                direction: 'up',
                visible: 4,
                interval: 4000,
                easing: 'swing',
                controls: {
                    up: '.btnUp',
                    down: '.btnDown',
                    toggle: '.btnToggle'
                }
            });
        }, 3000);
    });
</script>

<script>
    $(document).ready(function () {
        $(function() {
            $('#carouselslider').bind('slide.bs.carousel', function (e) {
                var image = $(e.relatedTarget).find('img[data-src]');
                image.attr('src', image.data('src'));
                image.removeAttr('data-src');
            });
        });
    });
</script>
{% endblock %}