{% extends "base.html" %}
{% load mechweb_tags %}
{% block extra_css%}

{% endblock %}
{% block content %}
{% breadcrumbs%}

<style>
    .section_name{
        color:#000;
      }
      .section_name:hover{
        text-decoration:none;
      }
      .list-group-item:hover{
        background: #f5f5f5 !important;
      }
      
</style>

<div class="text-center my-4 bg-light">
    <br>
    <h1 class="text-warning">{{page.title}}</h1>

    <div class="py-5 container">
        <ul class="list-group text-center"  style="width: 70%; margin: auto">
            <div class="row d-flex justify-content-center">
          {% for category in page.get_children.live %}
                <li class="col-sm-12 col-lg-4 col-md-5 section_box">
                    <a class="section_name" href="{{ category.url }}"><h4 class="list-group-item mx-2 p-5 text-primary">{{ category }}  <i class="fa fa-file"></i></h4></a>
                    <p>{{category.about}}</p>
                </li>
            {% endfor %}
            </div>
        </ul>
    </div>
    
</div>
<br>



{% comment %} border bg-{% cycle 'info' 'warning' 'danger' 'dark' 'success' 'primary' 'secondary'%} {% endcomment %}
{% endblock content%}
