{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-news-announcement-page{% endblock %}



{% block content %}

<div class="container-fluid text-center">
    <div class="col-xs-12 col-sm-12 col-md-12 mb-4 ml-4 labbox">
      <h3 class="text-center" style="color:#881125; font-weight:bolder;">{{ page.specific.heading }}</h3>
          <div class="w3-row text-center" style="align: middle">
            {{ page.specific.get_info_type_display }}: <br>{{ page.specific.description|richtext }} <br>{{ page.specific.date|date:"Y" }}
          </div>

    </div>
  </div>
{% endblock %}
