{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags mechweb_tags %}


{% block extra_css %}

<style>

body {
  background: #eee;
  line-height: 30px;
}

</style>

{% endblock extra_css %}

{% block content %}



{% breadcrumbs%}

<div class="row bg-white pb-4">
<div class="col-sm-12 col-lg-6 pt-4">

<h2 class="text-center"> <strong>{{page.title}}</strong></h2>
<hr>

<div style="width: 80%; margin-left: 10%; font-size: 1.1em; text-align: center">
 {{page.intro|richtext}}
</div>

</div>
<div class="col-sm-12 col-lg-6 bg-white pt-4">



<div class="row">

{% if programSpecializations.count %}
<div class="col">
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h6 class="text-muted">Program Specializations</h6> 
      <ul class="list-group">
      {% for specialization in programSpecializations %}

        <a href="{% pageurl specialization %}" class="list-group-item list-group-item-action">
        {% if page.code %}
        {{page.code}} in
        {% endif %}
        {{specialization.title}}</a>
      {% endfor %}  
      </ul>
    </div>
  </div>
</div>

</div>


</div>

{% endif %}





{% if effectiveTimePeriods.count %}
<div class="col">

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h6 class="text-muted">Course Structure</h6> 
      <ul class="list-group">
      {% for timeperiod in effectiveTimePeriods %}
        <a href="{% pageurl timeperiod %}" class="list-group-item list-group-item-action">
       <i class="fa fa-code-fork" aria-hidden="true"> {{timeperiod.title}}</i></a>
      {% endfor %}  
      </ul>
    </div>
  </div>

</div>

</div>
{% endif %}

{% if students %}
<div class="col">

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h6 class="text-muted">Students</h6> 
      <ul class="list-group">
      {% for batch in students.get_children %}
        <a href="{% pageurl batch %}" class="list-group-item list-group-item-action">
       <i class="fa fa-user" aria-hidden="true"> {{batch.title}}</i></a>
      {% endfor %}  
      </ul>
    </div>  
  </div>

</div>
</div>
{% endif %}





</div>
</div>

{% endblock %}
