{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-project-homepage{% endblock %}


{% block content %}
 <br><br>

  <div class="w3-container">
      <h2 style="text-align:center">Projects</h2>


    <div class="w3-row">
      <a id="modal" href="javascript:void(0)" onclick="openCity(event, 'Sponsored');">
        <div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding" style="text-align:center; font-size:1.2em; color: #222546">Sponsored Projects</div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Consultancy');">
        <div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding" style="text-align:center; font-size:1.2em; color: #222546">Consultancy Projects</div>
      </a>

    </div>

    <div id="Consultancy" class="w3-container city" style="display:none">

      <table class="table table-hover">
        <thead>
          <tr>
            <th style="word-wrap: break-word;max-width: 500px">Sl. No</th>
            <th style="word-wrap: break-word;max-width: 500px">Project Title</th>
            <th style="word-wrap: break-word;max-width: 200px">Principal Investigator</th>
            <th style="word-wrap: break-word;max-width: 250px;min-width:50px">Co PIs</th>
            <th style="word-wrap: break-word;max-width: 100px;min-width:50px">Budget(lacs)</th>
            <th style="word-wrap: break-word;max-width: 250px;min-width:100px">Timeline</th>

          </tr>

        </thead>
        <tbody  id="myUL" >
          {% for project in consultancy_projs %}
          <tr>
              <td style="word-wrap: break-word;max-width: 500px">{{ forloop.counter }}</td>
              <td style="word-wrap: break-word;max-width: 500px"><a href="{{ project.url }}">{{ project.name }}</a></td>
              <td style="word-wrap: break-word;max-width: 200px">
                  {% with pis=project.specific.faculty_pi.all  %}
                    {% if pis %}
                      {% for pi in pis %}
                      <a href="{{ pi.faculty.url }}">{{ pi.faculty }}</a>,
                      {% endfor %}
                    {% elif  project.specific.alt_PI_text %}
                      {{ project.specific.alt_PI_text }}
                    {% endif %}
                  {% endwith %}
              </td>
              <td style="word-wrap: break-word;max-width: 250px;min-width:50px">
                {% with copis=project.specific.faculty_copi.all  %}
                    {% if copis %}
                      {% for copi in copis %}<a href="{{ copi.faculty.url }}">{{ copi.faculty }}</a>, {% endfor %}
                    {% endif %}
                {% endwith %}
              </td>
              <td style="word-wrap: break-word;max-width: 100px;min-width:50px">{{ project.budget }}</td>
              <td style="word-wrap: break-word;max-width: 250px;min-width:100px">{{ project.start_date|date:"Y" }}-{{ project.end_date|date:"Y" }}</td>
          </tr>
          {% endfor %}

        </tbody>
        </table>

    </div>

    <div id="Sponsored" class="w3-container city" style="display:none">
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="word-wrap: break-word;max-width: 500px">Sl. No</th>
            <th style="word-wrap: break-word;max-width: 500px">Project Title</th>
            <th style="word-wrap: break-word;max-width: 200px">Principal Investigator</th>
            <th style="word-wrap: break-word;max-width: 250px;min-width:50px">Co PIs</th>
            <th style="word-wrap: break-word;max-width: 100px;min-width:50px">Budget(lacs)</th>
            <th style="word-wrap: break-word;max-width: 250px;min-width:100px">Timeline</th>

          </tr>

        </thead>
        <tbody  id="myUL" >
          {% for project in sponsored_projs %}
          <tr>
            <td style="word-wrap: break-word;max-width: 500px">{{ forloop.counter }}</td>
              <td style="word-wrap: break-word;max-width: 500px"><a href="{{ project.url }}">{{ project.name }}</a></td>
              <td style="word-wrap: break-word;max-width: 200px">
                  {% with pis=project.specific.faculty_pi.all  %}
                    {% if pis %}
                      {% for pi in pis %}
                      <a href="{{ pi.faculty.url }}">{{ pi.faculty }}</a>,
                      {% endfor %}
                    {% elif  project.specific.alt_PI_text %}
                      {{ project.specific.alt_PI_text }}
                    {% endif %}
                  {% endwith %}
              </td>
              <td style="word-wrap: break-word;max-width: 250px;min-width:50px">
                {% with copis=project.specific.faculty_copi.all  %}
                    {% if copis %}
                      {% for copi in copis %}<a href="{{ copi.faculty.url }}">{{ copi.faculty }}</a>, {% endfor %}
                    {% endif %}
                {% endwith %}
              </td>
              <td style="word-wrap: break-word;max-width: 100px;min-width:50px">{{ project.budget }}</td>
              <td style="word-wrap: break-word;max-width: 250px;min-width:100px">{{ project.start_date|date:"Y" }}-{{ project.end_date|date:"Y" }}</td>
          </tr>

        {% endfor %}

        </tbody>
        </table>
    </div>

  </div>



{% endblock %}

{% block extra_script %}
    <script>
    function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('tr');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName('td')[1];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
    }
    </script>

    <script>

    // var x = document.getElementsByClassName("city");    this js code is used to make a tab active on load of page
    //     x[0].style.display = "block";


      function openCity(evt, cityName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" w3-border-blue-grey", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.firstElementChild.className += " w3-border-blue-grey";
      }
    </script>

    <script type="text/javascript">
    window.onload=function(){
    document.getElementById("modal").click();
    };
    </script>


{% endblock %}
