{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-project-homepage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <!-- work on giving the page ability to sort using date, topic, faculty, etc -->
    <ul>
	    {% for project in page.get_children.specific %}
	    <li>	
	    	<h2><a href="{{ project.url }}">{{ project.name }}</a></h2>
	    	{% if project.principal_investigator  %}
	    		<h2>Principal Investigator : <a href="{{ project.principal_investigator.url }}">{{ project.principal_investigator }}</a></h2>
	  		{% elif  project.specific.alt_PI_text %}
    			<h2>Principal Investigator : {{ project.specific.alt_PI_text }}</h2>
    		{% endif %}
	    	<div>Project type : {{ project.get_project_type_display }}</div>
	    	<div>Budget : {{ project.budget }}</div>
	    	<div>From: {{ project.start_date }} | To : {{ project.end_date }}</div>
	    </li>
	    {% endfor %}
	</ul>

{% endblock %}