{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-project-homepage{% endblock %}


{% block content %}
 <br><br>
    <!-- <div class="container-fluid" >
      <div class="row justify-content-md-center" >



        <div class="col-xs-12 col-sm-6 col-md-5" style="margin-left: 25%">
           <i class="fa fa-search " style="margin-right: 7px"></i>
           <input type="text" id="myInput" onkeyup="myFunction()" placeholder=" Search for PI..">
        </div>
      </div>
    </div> -->

    <!-- work on giving the page ability to sort using date, topic, faculty, etc -->
    <!-- <ul>
	    {% for project in page.get_children.specific %}
	    <li>
	    	<h2><a href="{{ project.url }}">{{ project.name }}</a></h2>
	    	{% if project.principal_investigator  %}
	    		<h2>Principal Investigator : <a href="{{ project.principal_investigator.url }}">{{ project.principal_investigator }}</a></h2>
	  		{% elif  project.specific.alt_PI_text %}
    			<h2>Principal Investigator : {{ project.specific.alt_PI_text }}</h2>
    		{% endif %}
	    	<div>Project type : {{ project.get_project_type_display }}</div>
	    	<div>Budget : {{ project.budget }}</div>
	    	<div>From: {{ project.start_date }} | To : {{ project.end_date }}</div>
	    </li>
	    {% endfor %}
	</ul> -->


  <div class="w3-container">
      <h2 style="text-align:center">Projects</h2>


    <div class="w3-row">
      <a id="modal" href="javascript:void(0)" onclick="openCity(event, 'Consultancy');">
        <div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding" style="text-align:center; font-size:1.2em; color: #222546">Consultancy Projects</div>
      </a>
      <a href="javascript:void(0)" onclick="openCity(event, 'Sponsored');">
        <div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding" style="text-align:center; font-size:1.2em; color: #222546">Sponsored Projects</div>
      </a>

    </div>

    <div id="Consultancy" class="w3-container city" style="display:none">
      <div>

          <div class="table-wrapper">
            <table class="fl-table">
                  <thead>
                    <tr>

                    <th>Project Title</th>
                    <th>Principal Investigator</th>
                    <th>Project type</th>
                    <th>Budget(lacs)</th>
                    <th>Timeline</th>

                  </tr>

                  </thead>

                  <tbody  id="myUL" >
                    {% for project in page.get_children.specific %}
                    {% if project.project_type == '0' %}
                    <tr>
                        <td><a href="{{ project.url }}">{{ project.name|truncatechars:25 }}</a></td>
                        <td>{% if project.principal_investigator  %}
                          <a href="{{ project.principal_investigator.url }}">{{ project.principal_investigator }}</a>
                        {% elif  project.specific.alt_PI_text %}
                          {{ project.specific.alt_PI_text }}
                        {% endif %}</td>
                        <td>{{ project.get_project_type_display }}</td>
                        <td>{{ project.budget }}</td>
                        <td>{{ project.start_date }}-{{ project.end_date }}</td>
                    </tr>

                    {% endif %}
                  {% endfor %}

                  </tbody>

            </table>
          </div>


      </div>
    </div>

    <div id="Sponsored" class="w3-container city" style="display:none">
      <div>

          <div class="table-wrapper">
            <table class="fl-table">
                  <thead>
                    <tr>

                    <th>Project Title</th>
                    <th>Principal Investigator</th>
                    <th>Project type</th>
                    <th>Budget(lacs)</th>
                    <th>Timeline</th>

                  </tr>

                  </thead>

                  <tbody  id="myUL">
                    {% for project in page.get_children.specific %}
                      {% if project.project_type == '1' %}
                    <tr>
                        <td><a href="{{ project.url }}">{{ project.name|truncatechars:35 }}</a></td>
                        <td>{% if project.principal_investigator  %}
                          <a href="{{ project.principal_investigator.url }}">{{ project.principal_investigator }}</a>
                        {% elif  project.specific.alt_PI_text %}
                          {{ project.specific.alt_PI_text }}
                        {% endif %}</td>
                        <td>{{ project.get_project_type_display }}</td>
                        <td>{{ project.budget }}</td>
                        <td>{{ project.start_date }}-{{ project.end_date }}</td>
                    </tr>
                    {% endif %}
                  {% endfor %}

                  </tbody>

            </table>
          </div>


    </div>
    </div>

  </div>



{% endblock %}

{% block extra_script %}
    <script>
    function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('tr');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName('td')[1];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
    }
    </script>

    <script>

    // var x = document.getElementsByClassName("city");    this js code is used to make a tab active on load of page
    //     x[0].style.display = "block";


      function openCity(evt, cityName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" w3-border-blue-grey", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.firstElementChild.className += " w3-border-blue-grey";
      }
    </script>

    <script>
jQuery(function(){
   jQuery('#modal').click();
});
</script>


{% endblock %}
