{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-project-page{% endblock %}



gallery_images



{% block content %}
    {{ page.title }}
	<h1><a href="{{ page.specific.url }}">{{ page.specific.name }}</a></h1>
	<h2>Principal Investigator : <a href="{{ page.specific.principal_investigator.url }}">{{ page.specific.principal_investigator }}</a></h2>
	<h4>Funding agency: <a href="{{ page.specific.funding_agency_link }}">{{ page.specific.funding_agency }}</a></h4>
	<hr>
	<!-- Images for carousal -->
    <ul>
    {% for pic in page.gallery_images.all %}
        <li>
        	<div>{% image pic.image fill-320x240 %}</div>
        	<div>{{ pic.caption }}</div>
        </li>
    {% endfor %}
    </ul>
	<hr>
	<h3>Description:</h3>
	<div>{{ page.specific.description|richtext }}</div>
	<hr>
	<div>Project type : {{ page.specific.get_project_type_display }}</div>
	<div>Budget : {{ page.specific.budget }}</div>
	<div>From: {{ page.specific.start_date }} | To : {{ page.specific.end_date }}</div>


	<h2>Faculty</h2>
    <ul>
    {% for faculty in page.faculty.all %}
        <li>
            <h4><a href="{{ faculty.faculty.url }}">{{ faculty.faculty }}</a></h4>
        	<div>{{ faculty.faculty.project_statement|richtext }}</div>
        </li>
    {% endfor %}
    </ul>

    <h2>Students</h2>
    <ul>
    {% for student in page.students.all %}
    	<li>
            <h4><a href="{{ student.student.url }}">{{ student.student }}</a></h4>
        	<div>{{ student.student.project_statement|richtext }}</div>
        </li>
    {% endfor %}
    </ul>

    <h2>Links</h2>
    <ul>
    {% for ref_link in page.links.all %}
        <li>
            <a href="{{ ref_link.link }}">{{ ref_link.link }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}