{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-research-homepage{% endblock %}


{% block content %}


      <br>
    <div class="container-fluid">
        <div class="row padding">
            <div class="col">
                <h1 class="text-center" style="color:#15218d; font-weight:bolder;">{{ page }}</h1>
                <h3 class="text-center" style="color:#15218d; font-weight:bolder;">[{{page.specific.get_pub_type_display }}]</h3>
            </div>
        </div>
    </div>

    <div class="container-fluid">
      <div class="row padding">
        <div class="col-sm-2 col-md-1"></div>
          <div class="col-xs-12 col-sm-4 col-md-3">

              {% if  page.specific.document %}
                <div class="lab_faculty">
                  <h4 style="color:#15218d; font-weight:bolder;">{{ page.specific.document|truncatechars:25 }}<br>
                      <a style="color:#4F5345; font-weight:normal;" href="{{ page.specific.document.url }}">Download</a>
                  </h4>
                </div>
              {% endif %}

              {% if  page.specific.pub_year %}
              <div class="lab_sci_off">
                <h4 style="color:#15218d; font-weight:bolder;"> Year of Publication <br>
                  <h5 style="color:#4F5345; font-weight:normal;">{{ page.specific.pub_year|date:'Y' }}</h5>
                </h4>
              </div>
              {% endif %}

              {% if  page.specific.download_link %}
              <div class="lab_sci_off">
                <h4 style="color:#15218d; font-weight:bolder;"> External Download link: <br>
                  <h5 style="color:#4F5345; font-weight:normal;">{{ page.specific.download_link }}</h5>
                </h4>
              </div>
              {% endif %}

              {% if  page.specific.pub_journal %}
              <div class="lab_sci_off">
                <h4 style="color:#15218d; font-weight:bolder;"> Journal: <br>
                  <h5 style="color:#4F5345; font-weight:normal;">{{ page.specific.pub_journal }}</h5>
                </h4>
              </div>
              {% endif %}

              {% if  page.specific.pub_vol %}
              <div class="lab_sci_off">
                <h4 style="color:#15218d; font-weight:bolder;"> Volume: <br>
                  <h5 style="color:#4F5345; font-weight:normal;">{{ page.specific.pub_vol }}</h5>
                </h4>
              </div>
              {% endif %}

              {% if  page.specific.pub_issue %}
              <div class="lab_sci_off">
                <h4 style="color:#15218d; font-weight:bolder;"> Issue: <br>
                  <h5 style="color:#4F5345; font-weight:normal;">{{ page.specific.pub_issue }}</h5>
                </h4>
              </div>
              {% endif %}

              {% if  page.specific.page_start %}
              <div class="lab_sci_off">
                <h4 style="color:#15218d; font-weight:bolder;"> Start: <br>
                  <h5 style="color:#4F5345; font-weight:normal;">{{ page.specific.page_start }}</h5>
                </h4>
              </div>
              {% endif %}
              {% if  page.specific.page_end %}
              <div class="lab_sci_off">
                <h4 style="color:#15218d; font-weight:bolder;"> End: <br>
                  <h5 style="color:#4F5345; font-weight:normal;">{{ page.specific.page_end }}</h5>
                </h4>
              </div>
              {% endif %}

              {% if  page.specific.citations %}
              <div class="lab_sci_off">
                <h4 style="color:#15218d; font-weight:bolder;"> Citations: <br>
                  <h5 style="color:#4F5345; font-weight:normal;">{{ page.specific.citations }}</h5>
                </h4>
              </div>
              {% endif %}
              {% if  page.specific.alt_detail_text %}
              <div class="lab_sci_off">
                <h4 style="color:#15218d; font-weight:bolder;"> Details: <br>
                  <h5 style="color:#4F5345; font-weight:normal;">{{ page.specific.alt_detail_text }}</h5>
                </h4>
              </div>
              {% endif %}

              
              
          </div>

        <div class="col-xs-12 col-sm-7 col-md-7 labbox">
          <h3 class="text-center" style="color:#15218d; font-weight:bolder;">Abstract</h3>
          <!-- <div class="text-center" style="color:#4F5345; font-weight:normal;"><strong> {{ page.specific.intro | richtext }} </strong></div> -->
          <div style="color:#4F5345; font-weight:normal; text-align:left;"> {{ page.specific.abstract|richtext }} </div>
          <!-- <div>Contact Number: {{ page.specific.contact_number }}</div> -->
          {% if page.faculty.all|length != 0 or page.other_authors.all|length != 0 or page.students.all|length != 0 %}
          {% if page.faculty.all|length != 0 %}
              <h2>Faculty</h2>
              <ul>
              {% for faculty in page.faculty.all %}
                  <li>
                      <a href="{{ faculty.faculty.url }}">{{ faculty.faculty }}</a>
                  </li>
                  <li>{{ faculty.faculty.research_statement|richtext }}</li>
              {% endfor %}
              </ul>
          {% endif %}
          {% if page.other_authors.all|length != 0 %}
              <h2>Other Authors</h2>
              <ul>
              {% for other_author in page.other_authors.all %}
                  <li>
                      {{ other_author.name }}
                  </li>
                  <li>{{ other_author.organization }}</li>
              {% endfor %}
              </ul>
          {% endif %}
  
          {% if page.students.all|length != 0 %}
              <h2>Students</h2>
              <ul>
              {% for student in page.students.all %}
                  <li>
                      <a href="{{ student.student.url }}">{{ student.student }}</a>
                  </li>
                  <li>{{ student.student.research_statement|richtext }}</li>
              {% endfor %}
              </ul>
          {% endif %}
      {% elif page.alt_people_text %}
          {{ page.alt_people_text }}
      {% else %}
          
      {% endif %}
  
  
      {% if page.links.all|length != 0 %}
          <h2>Links</h2>
          <ul>
          {% for ref_link in page.links.all %}
              <li>
                  <a href="{{ ref_link.link }}">{{ ref_link.link }}</a>
              </li>
          {% endfor %}
          </ul>
      {% endif %}
  
      {% if page.images.all|length != 0 %}
          <h2>Photos</h2>
          {% for photo in page.images.all %}
              <div>{% image photo.photo fill-50x50 %}</div>
              <div>{{ photo.caption }}</div>
          {% endfor %}
      {% endif %}
        



        </div>

        <br><br>
    



    </div>
      




{% endblock content %}

{% block extra_script %}



{% endblock %}
