{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-publication-page{% endblock %}

{% block body_style %}padding-top: 110px; {% endblock %}

<!-- Center the content and add faculty details here -->
{% block content %}
    <h1>{{ page }}</h1>
    <h3>[{{page.specific.get_pub_type_display }}]</h3>
    <hr>
	<h2>Abstract</h2>
	<div>{{ page.specific.abstract|richtext }}</div>
    <hr>
    {% if  page.specific.document %}
	   <div>{{ page.specific.document|truncatechars:25 }} : <a href="{{ page.specific.document.url }}">Download</a></div>
    {% endif %}
    {% if  page.specific.pub_year %}
	   <div>{{ page.specific.pub_year|date:'Y' }}</div>
    {% endif %}
    {% if  page.specific.download_link %}
        <div>External Download link: {{ page.specific.download_link }}</div>
    {% endif %}
    {% if  page.specific.pub_journal %}
        <div> Journal: {{ page.specific.pub_journal }}</div>
    {% endif %}
    {% if  page.specific.pub_vol %}
        <div> Volume: {{ page.specific.pub_vol }}</div>
    {% endif %}
    {% if  page.specific.pub_issue %}
        <div> Issue: {{ page.specific.pub_issue }}</div>
    {% endif %}
    {% if  page.specific.page_start %}
        <div> Start: {{ page.specific.page_start }}</div>
    {% endif %}
    {% if  page.specific.page_end %}
        <div> End: {{ page.specific.page_end }}</div>
    {% endif %}
    {% if  page.specific.citations %}
        <div> Citations: {{ page.specific.citations }}</div>
    {% endif %}

    {% if page.faculty.all|length != 0 or page.other_authors.all|length != 0 or page.students.all|length != 0 %}
        {% if page.faculty.all|length != 0 %}
            <h2>Faculty</h2>
            <ul>
            {% for faculty in page.faculty.all %}
                <li>
                    <a href="{{ faculty.faculty.url }}">{{ faculty.faculty }}</a>
                </li>
                <li>{{ faculty.faculty.research_statement|richtext }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if page.other_authors.all|length != 0 %}
            <h2>Other Authors</h2>
            <ul>
            {% for other_author in page.other_authors.all %}
                <li>
                    {{ other_author.name }}
                </li>
                <li>{{ other_author.organization }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if page.students.all|length != 0 %}
            <h2>Students</h2>
            <ul>
            {% for student in page.students.all %}
                <li>
                    <a href="{{ student.student.url }}">{{ student.student }}</a>
                </li>
                <li>{{ student.student.research_statement|richtext }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% elif page.alt_people_text %}
        {{ page.alt_people_text }}
    {% else %}
        
    {% endif %}


    {% if page.links.all|length != 0 %}
        <h2>Links</h2>
        <ul>
        {% for ref_link in page.links.all %}
            <li>
                <a href="{{ ref_link.link }}">{{ ref_link.link }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if page.images.all|length != 0 %}
        <h2>Photos</h2>
        {% for photo in page.images.all %}
            <div>{% image photo.photo fill-50x50 %}</div>
            <div>{{ photo.caption }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
