{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-research-homepage{% endblock %}



{% block content %}

  <div class="container-fluid">



      <h1 class="text-center">{{ page.title }}</h1>
      <!-- Intro -->
      <div class="intro">{{ page.intro|richtext }}</div>
      <hr>

      <div class="row ">
        {% for child in page.get_children %}

        <div class="col-xs-4 col-sm-2 col-md-4">
          <a href="{{ child.url }}" class="btn btn-lg btn-block ">
            <i class="fa fa-check-square-o visible-xs"></i>
            <span class="hidden-xs">{{ child.title }}</span>
          </a>
        </div>
        {% endfor %}
      </div>




    {% if featured_research %}
        <h2>Featured Research</h2>
        <ul>
        {% for publication in featured_research %}
            <li>
                <a href="{{ publication.url }}">{{ publication.name|truncatechars:20 }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    <h2>Research Areas</h2>
    <ul>
        <li><a href="{{ page.url }}?area=0">Other</a></li>
        <li><a href="{{ page.url }}?area=1">Machine Design Engineering</a></li>
        <li><a href="{{ page.url }}?area=2">Manufacturing Engineering</a></li>
        <li><a href="{{ page.url }}?area=3">Thermal and Fluid Engineering</a></li>
    </ul>


            <div class="jumbotron text-center hoverable p-4">

              <div class="row">

                <div class="col-md-4 offset-md-1 mx-3 my-3">

                  <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>

                </div>

                <div class="col-md-7 text-md-left ml-3 mt-3">

                  <a href="#!" class="green-text">
                    <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> Work</h6>
                  </a>

                  <h4 class="h4 mb-4">This is title of the news</h4>

                  <p></p>
                  <p class="font-weight-normal">by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>

                  <a class="btn btn-success">Read more</a>

                </div>

              </div>

            </div>




      </div>

{% endblock %}
