{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-research-homepage{% endblock %}



{% block content %}
    <div id="carouselExampleSlidesOnly" class="carousel slide labpage" data-ride="carousel">
      <div class="carousel-inner">
        {% with images=page.specific.lab_home_gallery_images.all  %}
            {% if images %}
              {% for pic in images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  {% image pic.image max-2000x2000 class="d-block w-100" %}
                </div>
                {% endfor %}
              {% endif %}
        {% endwith %}



      </div>
    </div>

    <!-- Intro -->
    <div class="intro">{{ page.intro|richtext }}</div>

    <br><br>


                <!-- <div class="row ">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="{{ page.url }}?ugpg=0" class="btn btn-lg btn-block active">

                      <span class="hidden-xs">UG Lab</span>
                    </a>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="{{ page.url }}?ugpg=1" class="btn btn-lg btn-block">

                      <span class="hidden-xs">PG Lab</span>
                    </a>
                  </div>
                </div> -->

                <div class="w3-container">

                    <div class="w3-row">
                      <a id="modal" href="javascript:void(0)" onclick="openCity(event, 'ug_lab');">
                        <div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding" style="text-align:center; font-size:1.2em; color: #222546">Department Labs</div>
                      </a>
                      <a href="javascript:void(0)" onclick="openCity(event, 'pg_lab');">
                        <div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding" style="text-align:center; font-size:1.2em; color: #222546">Department Research Labs</div>
                      </a>

                    </div>
                    <br>
                    <div >
                        <div id="ug_lab" class="w3-container city" >
                            <ul class="list-group  text-center"  style="width: 50%; margin: auto">
                                {% for lab in lab_list %}
                                {% if lab.specific.lab_type == '0' %}
                                    <li class="list-group-item">
                                        <a href="{{ lab.url }}"><h4>{{ lab.specific.name }}</h4></a>
                                    </li>
                                  {% endif %}
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="pg_lab" class="w3-container city" >
                            <ul class="list-group  text-center"  style="width: 50%; margin: auto">
                                {% for lab in lab_list %}
                                {% if lab.specific.lab_type == '1' %}
                                    <li class="list-group-item">
                                        <a href="{{ lab.url }}"><h4>{{ lab.specific.name }}</h4></a>
                                    </li>
                                  {% endif %}
                                {% endfor %}
                            </ul>

                        </div>
                    </div>


                  </div>
              <br><br>

{% endblock %}
{% block extra_script %}

<script>

    // var x = document.getElementsByClassName("city");    this js code is used to make a tab active on load of page
    //     x[0].style.display = "block";


      function openCity(evt, cityName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" w3-border-blue-grey", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.firstElementChild.className += " w3-border-blue-grey";
      }
    </script>

    <script type="text/javascript">
    window.onload=function(){
    document.getElementById("modal").click();
    };
    </script>
{% endblock %}
