{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-research-homepage{% endblock %}



{% block content %}

  <div class="container-fluid">



      <h1 class="text-center">{{ page.title }}</h1>
      <!-- Intro -->
      <div class="intro">{{ page.intro|richtext }}</div>
      <hr>
      <div class="row ">
        {% for child in page.get_children %}

        <div class="col-xs-4 col-sm-2 col-md-4">
          <a href="{{ child.url }}" class="btn btn-lg btn-block ">
            <i class="fa fa-check-square-o visible-xs"></i>
            <span class="hidden-xs">{{ child.title }}</span>
          </a>
        </div>
        {% endfor %}
      </div>

<hr>



    {% if featured_research %}
        <h2>Featured Research</h2>
        <ul>
        {% for publication in featured_research %}
            <li>
                <a href="{{ publication.url }}">{{ publication.name|truncatechars:20 }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    <h2>Research Areas</h2>
    <ul>
        <li><a href="{{ page.url }}?area=0">Other</a></li>
        <li><a href="{{ page.url }}?area=1">Machine Design Engineering</a></li>
        <li><a href="{{ page.url }}?area=2">Manufacturing Engineering</a></li>
        <li><a href="{{ page.url }}?area=3">Thermal and Fluid Engineering</a></li>
    </ul>
        </div>

{% endblock %}
