{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags mechweb_tags %}
{% load mechweb_tags %}

{% block body_class %}template-event-page{% endblock %}

{% block extra_css %}



<style>

.section_name{
  color:#000;
}
.section_name:hover{
  text-decoration:none;
}

.list-group-item:hover{
  background: #f5f5f5 !important;
}

th {
    white-space: nowrap;
}

th,td{
    text-align:center;
}       
table a{
    text-decoration: underline;
} 
</style>

{% endblock extra_css %}


{% block content %}

 {% breadcrumbs%}

<div class="bg-light">
<div class="container py-3">
  <h1 class="text-center text-warning">{{page}}</h1>
  {% if page.intro %}
  <div class="about bg-white p-5">{{ page.intro|richtext }}</div>
  {% endif %}
</div>
{% if resourceSections.count %}
<div class="py-5">
    <ul class="list-group text-center"  style="width: 70%; margin: auto">
        <div class="row d-flex justify-content-center">
      {% for section in resourceSections %}
            <li class="col-sm-12 col-lg-4 col-md-5 section_box">
                <a class="section_name" href="{{ section.url }}"><h4 class="list-group-item mx-2 p-5 text-primary">{{ section }}</h4></a>
            </li>
        {% endfor %}
        </div>
    </ul>
</div>
{%endif%}



{% if resources.count %}
<div class="table-responsive-lg ">

<table class="table table-bordered table-hover bg-white" style="width: 80%; margin: auto;overflow-x:scroll; ">
    <thead class="text-info">
        <tr>
            <th scope="col">S. No.</th>
            <th scope="col">Title</th>
            <th scope="col">Faculty In-Charge(s)</th>
            <th scope="col">Link</th>
        </tr>
    </thead>
    <tbody>
        {% for resource in resources %}
        <tr>

            <td>{{ forloop.counter }}.</td>
            <td>{{ resource.title }}</td>
            <td>
            {% for faculty_incharge in resource.specific.faculty_incharges.all %}
            {% if forloop.counter0 %}
            ,
            {% endif %}
            <a href="{{faculty_incharge.faculty.url}}">{{faculty_incharge.faculty}}</a>
            {% endfor %}

            {% for faculty_incharge in resource.specific.custom_faculty_incharges.all %}
            {% if forloop.counter0 or resource.specific.faculty_incharges%}
            ,
            {% endif %}
            <a href="{{faculty_incharge.website}}">{{faculty_incharge.full_name}}</a>
            
            {% endfor %}
            </td>
            <td class="text-primary"><a target="_blank" href="{{ resource.specific.link }}"><i class="fa fa-external-link" aria-hidden="true"><span class="ml-2">Click here</span></i></a></td>

        </tr>
        {% endfor %}
    </tbody>
</table>    
</div>
<br><br>
</div>
{%endif%}





{% if outreach.count %}
<div class="table-responsive-lg">

<table class="table table-bordered table-hover bg-white" style="width: 80%; margin: auto;overflow-x:scroll; ">
    <thead class="text-info">
        <tr>
            <th scope="col">S. No.</th>
            <th scope="col">Title</th>
            <th scope="col">Faculty In-Charge(s)</th>
            <th scope="col">Institute/Event</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for object in outreach %}
        <tr>

            <td>{{ forloop.counter }}.</td>
            <td>{{ object.title }}</td>
            <td>
            {% for faculty_incharge in object.specific.faculty_incharges.all %}
            {% if forloop.counter0 %}
            ,
            {% endif %}
            <a href="{{faculty_incharge.faculty.url}}">{{faculty_incharge.faculty}}</a>
            {% endfor %}

            {% for faculty_incharge in object.specific.custom_faculty_incharges.all %}
            {% if forloop.counter0 or object.specific.faculty_incharges%}
            ,
            {% endif %}
            <a href="{{faculty_incharge.website}}">{{faculty_incharge.full_name}}</a>
            
            {% endfor %}
            </td>
            <td> {{object.specific.body}}</td>
            <td> {{object.specific.date}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>    
</div>
<br><br>
</div>
{%endif%}
</div>
</div>
<br>
<br><br><br>
{% endblock %}
