{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-staff-page{% endblock %}


{% block content %}
    <h1>{{ page }}</h1>
    <div>{{ page.intro|richtext }}</div>
    <hr>
	{% if page.specific.photo %}{
		{% image page.specific.photo original %}
	{% else %}
		{% with '/media/images/staff/'|add:staff.slug|add:'.jpg' as image_static %}
			<img src="{{ image_static }}" style='width:100%; height:100%; object-fit: contain' alt="{{ photo.alt }}" class="" />
		{% endwith %}
	{% endif %}
    <div>{{ page.get_designation_display }}</div>
    <div>Email ID : {{ page.email_id }}</div>
    <div>Joining year : {{ page.joining_year }}</div>
    <div>Contact Number : {{ page.contact_number }}</div>
    <div>Address : {{ page.address }}</div>
{% endblock %}
