{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-staff-homepage{% endblock %}



{% block content %}

  <div class="container-fluid">
      <!-- <h1>Staff</h1> -->
      <div class="container-fluid">
          <div class="row padding">
              <div class="col-md-12 text-center">
                  <h1>{{ page.title }}</h1>
                  <p>{{ page.intro|richtext }}</p>
              </div>
          </div>
      </div>

<!--
      <div class="row ">

        <div class="col-xs-12 col-sm-4 col-md-4">
          <button type="button" class="btn btn-lg btn-block " onclick="filterSelection('4')" name="button">
            <i class="fa fa-check-square-o visible-xs"></i>
            <span class="hidden-xs"><li>Officer</li></span>
          </button>

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">
          <button type="button" class="btn btn-lg btn-block " onclick="filterSelection('9')" name="button">
            <i class="fa fa-check-square-o visible-xs"></i>
            <span class="hidden-xs"><li>Staff</li></span>
          </button>

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">
          <button type="button" class="btn btn-lg btn-block " onclick="filterSelection('13')" name="button">
            <i class="fa fa-check-square-o visible-xs"></i>
            <span class="hidden-xs"><li>Other</li></span>
          </button>

        </div>

      </div> -->




      <div class="container-fluid staffhome">
          <div class="row bread-list" id="myUL">
            {% for staff in staff_list %}
              <div class="col-xs-11 col-md-5 bread-list-item">
                <span style="display:none">{{ staff.specific.designation }}</span>

                  <div class="row">
                      <div class="col-xs-4 col-sm-4 image">
                        <a href="{% pageurl staff %}">
                          {% if staff.specific.photo %}{
                            {% with 'images/'|add:staff.slug|add:'.jpg' as image_static %}
                              <img src="{% static image_static %}" width=100% height=100% alt="{{ photo.alt }}" class="" />
                            {% endwith %}
                          {% else %}
                              <img src="{% static "images/placeholder.jpg" %}" width=100%
                                      height=100% alt="{{ image.alt }}" class="" />
                          {% endif %}

                          </a>
                      </div>
                      <div class="col-xs-8 col-sm-8">
                          <a href="{% pageurl staff %}">
                              <h2>{{ staff }}</h2>
                          </a>
                          <ul class="bread-meta">
                              <li><strong>{{ staff.specific.get_designation_display }}</strong></li>
                              {% if staff.specific.address %}
                                  <li><span>Office</span>{{ staff.specific.address }}</li>
                              {% endif %}
                              {% if staff.specific.email_id %}
                                  <li><span>Email : </span>{{ staff.specific.email_id }}</li>
                              {% endif %}
                              {% if staff.specific.contact_number %}
                                  <li><span>Contact</span>{{ staff.specific.contact_number }}</li>
                              {% endif %}

                          </ul>
                      </div>
                  </div>
              </div>
          {% endfor %}
          </div>
      </div>

      <!-- {% if breads.paginator.count > 1 %}
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                  {% include "includes/pagination.html" with subpages=breads %}
                  </div>
              </div>
          </div>
      {% endif %} -->
</div>

{% endblock content %}


{% block extra_script %}


    <!-- <script>
    filterSelection("all")
      function filterSelection(c) {
      var input, filter, ul, li, a, i, txtValue;
      ul = document.getElementById("myUL");
      li = ul.getElementsByClassName("bread-list-item");

      for (i = 0; i < li.length; i++) {
            li[i].style.display = "none";
        }

      // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("span")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue < c && txtValue >= c-4) {
          li[i].style.display = "inline";
        } else {
          li[i].style.display = "none";
        }
      }

      }
    </script> -->

{% endblock %}
