{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-staff-page{% endblock %}


{% block content %}
    <h1>{{ page.name }}</h1>
    <div>{{ page.intro|richtext }}</div>
    <hr>
    <div>{% image page.photo fill-160x100 %}</div>
    <div>{{ page.get_designation_display }}</div>
    <div>Email ID : {{ page.email_id }}</div>
    <div>Joining year : {{ page.joining_year }}</div>
    <div>Contact Number : {{ page.contact_number }}</div>
    <div>Address : {{ page.address }}</div>
{% endblock %}
