{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-student-homepage{% endblock %}
{% block body_style %}padding-top: 110px; {% endblock %}


{% block content %}

	{{ page.title }}
	<h1>Students</h1>
    {% if tag %}
    	<h2>Results for {{ tag }}</h2>

    {% else %}
    	{% if student_list.number == 1 %}
            <ul>
                <li><a href="{{ page.url }}?prog=0">Bachelors</li>
                <li><a href="{{ page.url }}?prog=1">Masters</li>
                <li><a href="{{ page.url }}?prog=2">Research Shcolars</li>
            </ul>
		    <!-- Intro -->
		    <h2>Intro:</h2>
		    <div class="intro">{{ page.intro|richtext }}</div>
		    <!-- Student List -->
				{% endif %}
    {% endif %}



    <ul>
    {% for student in student_list %}
	    <li>
	        <h2><a href="{{ student.specific.url }}">{{ student.specific.name }}</a></h2>
	        <div>{% image student.specific.photo fill-50x50 %}</div>
	        <div>Proramme : {{ student.specific.get_programme_display }}</div>
	        <div>Enrolment year : {{ student.specific.enrolment_year }}</div>
	    </li>
    {% endfor %}
	</ul>




	<hr>
    <div class="pagination">
        <span class="step-links">
            {% if student_list.has_previous %}
                <a href="?page_no=1{% if tag %}&{{ tag }}{% endif %}{% if prog %}&{{ prog }}{% endif %}">&laquo; first</a>
                <a href="?page_no={{ student_list.previous_page_number }}{% if tag %}&{{ tag }}{% endif %}{% if prog %}&{{ prog }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ student_list.number }} of {{ student_list.paginator.num_pages }}.
            </span>

            {% if student_list.has_next %}
                <a href="?page_no={{ student_list.next_page_number }}{% if tag %}&{{ tag }}{% endif %}{% if prog %}&{{ prog }}{% endif %}">next</a>
                <a href="?page_no={{ student_list.paginator.num_pages }}{% if tag %}&{{ tag }}{% endif %}{% if prog %}&{{ prog }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

	<div>Research Interests:
		{% for interest in all_research_interests %}
			<a href="{{ page.url }}?tag={{ interest }}">{{ interest }}</a> |
		{% endfor %}
	</div>

{% endblock %}
