{% extends "base.html" %}

{% load static %}


{% load wagtailcore_tags wagtailimages_tags %}
{% load mechweb_tags %}

{% block body_class %}template-event-page{% endblock %}

{% block content %}

<div class="w3-content w3-margin-top" style="max-width:1400px; padding-top:110px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">
      <!-- {{ page.title }} -->

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          {% if page.specific.photo %}
            {% image page.specific.photo original as photo %}
            <img src="{{ photo.url }}" style='width:100%; height:100%; object-fit: contain' alt="{{ photo.alt }}" class="" />
          {% else %}

              {% with MEDIA_URL|add:'images/phd/'|add:page.slug|add:'.jpg' as image_static %}
                    <img src="{{ image_static }}" style='width:100%; height:100%; object-fit: contain' alt="{{ photo.alt }}" class="" />
              {% endwith %}
          {% endif %}

        </div>
        <div class="w3-container">
          <h1>{{ page }}</h1>{{ page.specific.leaving_year|date:'Y'|isalumni }}
            <hr>
          {% if page.specific.enrolment_year %}
              <li>
                  <h4>Enrollment Year</h4>
                  <p>{{ page.specific.enrolment_year }}</p>
              </li>
          {% endif %}
          {% if page.specific.get_programme_display %}
              <li>
                  <h4>Programme</h4>
                  <p>{{ page.specific.get_programme_display }}</p>
              </li>
          {% endif %}


           {% if page.specific.roll_no %}
               <li>
                 <h4>Roll Number</h4>
                   <p>{{ page.specific.roll_no }}</p>
               </li>
           {% endif %}

           {% if page.specific.faculty_advisor %}
               <li>
                   {% if page.specific.programme == '2' %}<h4>Supervisor</h4>{% else %}<h4>Faculty Advisor</h4>{% endif %}
                   <p><a href="{{ page.specific.faculty_advisor.url }}">{{ page.specific.faculty_advisor }}</a></p>

               </li>
           {% endif %}

          {% if page.specific.email_id %}
              <li>
                  <h4>Email ID</h4>
                  <p>{{ page.specific.email_id|noscrape|safe }}</p>
                  {% if page.specific.email_id_2 %}
              			<p>{{ page.specific.email_id_2|noscrape|safe }}</p>
              		{% endif %}
             </li>
         {% endif %}
        {% if request.user.is_authenticated %}
         {% if page.specific.contact_number %}
             <li>
                 <h4>Contact Number</h4>
                 <p>{{ page.specific.contact_number }}</p>

             </li>
         {% endif %}

         {% if page.specific.hostel_address %}
             <li>
                 <h4>Address</h4>
                 <p>{{ page.specific.hostel_address }}</p>

             </li>
         {% endif %}
        {% endif %}

         {% if page.specific.specialization != '0' %}
             <li>
                 <h4>Specialization</h4>
                 <p>{{ page.specific.get_specialization_display }}</p>

             </li>
         {% endif %}
         <li><a href="{{ page.specific.website }}">Personal website</a></li>





                  <hr>

        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
        <div class="w3-container w3-card w3-white  w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>About</h2>
        <div class="w3-container">
            <p>{{ page.specific.intro }}</p>
        <p>{{ page.specific.body|richtext }}</p>
        </div>
        </div>

{#      {% with research_interests=page.specific.research_interests.all  %}#}
{##}
{#      {% if research_interests %}#}
{#      <div class="w3-container w3-card w3-white">#}
{#        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Research Interests:</h2>#}
{#        {% for tag in research_interests %}#}
{#        <a href="{{ page.get_parent.url }}?tag={{ tag }}">{{ tag }}</a> |#}
{#        {% endfor %}#}
{#      </div>#}
{#      {% endif %}#}
{#      {% endwith %}#}


      <div class="w3-container">
        <div>
          {% with projects=page.specific.projects.all  %}
          {% if projects %}
                <h3>Projects</h3>
                <ul>
                  {% for project in projects %}
                        <li><h4>{{ project.title }}</h4>

                        <div>{% image project.photo_1 fill-100x100 %}</div>
                        <div>{% image project.photo_2 fill-100x100 %}</div>
                        <div>{% image project.photo_3 fill-100x100 %}</div>

                        <div>Guide : {{ project.guide}}</div>
                        {% if project.co_guide %}
                            <div>Co-guide : {{ project.co_guide}}</div>
                        {% endif %}
                        <div>{{ project.document|truncatechars:10 }} <a href="{{ project.document.url }}">Download</a></div>
                        <h5>Abstract: </h5>
                        <div>{{ project.abstract|richtext }}</div>
                        <div><a href="{{ project.link}}">Link</a></div></li>
                    {% endfor %}
                </ul>
                <br>
            {% endif %}
        {% endwith %}
        </div>
      </div>


            <div class="w3-container">
              <div>
              {% if lab_list %}
                      <h3>Labs</h3>
                      <ul>
                        {% for lab in lab_list %}
                              <li><h3><a href="{{ lab.url }}">{{ lab.specific.name }}</a></h3>
                              <p>{{ lab.specific.get_lab_type_display }}</p>
                              <p>{{ lab.specific.faculty_incharge }}</p></li>
                          {% endfor %}
                      </ul>
                      <br>
                  {% endif %}
              </div>
            </div>



                  <div class="w3-container">
                    <div>
                      {% if pub_list %}
                            <h3> Publications</h3>
                            <ul>
                              {% for pub in pub_list %}
                              {% if forloop.counter < 11 %}
                              <h3><a href="{{ pub.url }}">{{ pub.specific.name }}</a></h3>
                              <p>[{{ pub.specific.get_pub_type_display }}]</p>
                              {% if pub.specific.faculty.all|length != 0 %}
                                {% for faculty in pub.specific.faculty.all %}
                                  <p><a href="{{ faculty.faculty.url }}">{{ faculty.faculty }}</a>, </p>
                                {% endfor %}
                              {% endif %}

                              {% if pub.specific.students.all|length != 0 %}
                                  {% for student in pub.specific.students.all %}
                                    <p><a href="{{ student.student.url }}">{{ student.student }}</a>, </p>
                                  {% endfor %}
                              {% endif %}
                              {% endif %}
                              {% endfor %}
                            </ul>
                            <br>
                      {% endif %}
                    </div>
                  </div>


                  <div>
                  {% with images=page.specific.stud_gallery_images.all  %}
                      {% if images %}
                          <h3>Images</h3>
                          <ul>
                              {% for pic in images %}
                                  <li>{% image pic.image fill-100x100 %}</li>
                              {% endfor %}
                          </ul>
                          <br>
                      {% endif %}
                  {% endwith %}
                  </div>
                  <hr>

                  <div>
                  {% with links=page.specific.stud_links.all  %}
                      {% if links %}
                          <h3>Links</h3>
                          <ul>
                              {% for link in links %}
                                  <li><a href="{{ link }}">{{ link|truncatechars:10 }}</a></li>
                              {% endfor %}
                          </ul>
                          <br>
                      {% endif %}
                  {% endwith %}
                  </div>
                  <hr>






    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

{% endblock %}
