{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags mechweb_tags %}


{% block extra_css %}

<style>

body {
  line-height: 30px;
}

.list-group a:hover{
  text-decoration:none;
  color:white !important;
}
.batch-tab{
  decoration:none;
  background:#a9d6e5;
}
.batch-tab:hover{
  background:#01497c;
}
</style>

{% endblock extra_css %}

{% block content %}


<div class="">
<div class="">
{% breadcrumbs%}

<div style="background:#cce5ff;">
<br>
<h2 class="text-center"> <strong>{{page}}</strong></h2>
<br>
</div>

<div class="pt-5 pb-5"> 
<div class="text-center">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-6">
      <ul class="list-group">
      {% for batch in page.current_batches.live %}
        <a href="{% pageurl batch %}" class="py-3 my-2 batch-tab">
       <i class="fa fa-user" aria-hidden="true"></i> {{batch.title}}</a>
      {% endfor %}  
      </ul>
    </div>  
  </div>

</div>


</div>
</div>  
</div>
{% endblock %}
