{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-student-homepage{% endblock %}

{% block content %}

    <h1>{{ page.title }}</h1>
    {% if tag %}
    	<h2>Results for {{ tag }}</h2>
    {% else %}
	    <!-- Intro -->
	    <h2>Intro:</h2>
	    <div class="intro">{{ page.intro|richtext }}</div>
	    <!-- Student List -->
    {% endif %}

    <ul>
    {% for student in student_list %}
	    <li>
	        <h2><a href="{{ student.specific.url }}">{{ student.specific.name }}</a></h2>
	        <div>{% image student.specific.photo fill-50x50 %}</div>
	        <div>Proramme : {{ student.specific.programme }}</div>
	        <div>Enrolment year : {{ student.specific.enrolment_year }}</div>
	    </li>
    {% endfor %}
	</ul>

	<div>Research Interests:
		{% for interest in all_research_interests %}
			<a href="{{ page.url }}?tag={{ interest }}">{{ interest }}</a> | 
		{% endfor %}
	</div>

{% endblock %}