{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-student-homepage{% endblock %}



{% block content %}

  <div class="container-fluid">
      <!-- <h1>Staff</h1> -->
      <div class="container-fluid">
          <div class="row padding">
              <div class="col-md-12 text-center">
                  <h1>{{ page.title }}</h1>
                  {% if student_list.number == 1 %}
                  <p>{{ page.intro|richtext }}</p>

                  {% endif %}
              </div>
          </div>
      </div>

      <div class="container-fluid">
        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-7">
            <!-- <h3>All Faculties</h3> -->
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4" style="text-align:center">
             <i class="fa fa-search fa-2x"></i>
             <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for student..">
          </div>
        </div>
      </div>

<hr>
      {% if tag %}
        <h2>Results for {{ tag }}</h2>
          {% else %}
          {% if student_list.number == 1 %}
            <div class="row ">
              <div class="col-xs-12 col-sm-2 col-md-4">
                <a href="{{ page.url }}?prog=0" class="btn btn-lg btn-block">
                  <i class="fa fa-check-square-o visible-xs"></i>
                  <span class="hidden-xs">Bachelors</span>
                </a>
              </div>
              <div class="col-xs-12 col-sm-2 col-md-4">
                <a href="{{ page.url }}?prog=1" class="btn btn-lg btn-block">
                  <i class="fa fa-check-square-o visible-xs"></i>
                  <span class="hidden-xs">Masters</span>
                </a>
              </div>
              <div class="col-xs-12 col-sm-2 col-md-4">
                <a href="{{ page.url }}?prog=2" class="btn btn-lg btn-block">
                  <i class="fa fa-check-square-o visible-xs"></i>
                  <span class="hidden-xs">Research Scholars</span>
                </a>
              </div>
            </div>
            {% endif %}
          {% endif %}
  <hr>
  <div class="container-fluid">
    <div class="row bread-list" id="myUL">
      {% for student in student_list %}
        <div class="col-xs-11 col-md-5 bread-list-item">
          <span style="display:none">{{ student }}</span>

            <div class="row">
                <div class="col-xs-4 col-sm-5 image">
                  <a href="{{ student.specific.url }}">
                    {% if student.specific.photo %}
                      {{% image student.specific.photo original style='width:100%; height:100%; object-fit: contain' %}
                    {% else %}
                        {% with '/media/images/phd/'|add:student.slug|add:'.jpg' as image_static %}
                            <img src="{{ image_static }}" style='width:100%; height:100%; object-fit: contain' alt="{{ photo.alt }}" class="" />
                      {% endwith %}
                    {% endif %}
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8">
                    <a href="{{ student.specific.url }}">
                        <h2>{{ student }}</h2>
                    </a>
                    <ul class="bread-meta">
                        <li><strong>{{ student.specific.get_programme_display }}</strong></li>
                        {% if student.specific.enrolment_year %}
                            <li><span>Enrolment year</span>{{ student.specific.enrolment_year }}</li>
                        {% endif %}
                        {% if student.specific.email_id %}
                            <li><span>Email</span>{{ student.specific.email_id }}</li>
                        {% endif %}
                        {% if student.specific.roll_no %}
                            <li><span>Enrolment NO.</span>{{ student.specific.roll_no }}</li>
                        {% endif %}
                        {% if student.specific.faculty_advisor %}
                            <li><span>Faculty Advisor</span>{{ student.specific.faculty_advisor }}</li>
                        {% endif %}
                        {% if student.specific.hostel_address_line_1 %}
                            <li><span>Hostel</span>{{ student.specific.hostel_address_line_1 }}</li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
  </div>

        </div>


  <div class="pagination">
      <span class="step-links">
          {% if student_list.has_previous %}
              <a href="?page_no=1{% if tag %}&{{ tag }}{% endif %}{% if prog %}&{{ prog }}{% endif %}">&laquo; first</a>
              <a href="?page_no={{ student_list.previous_page_number }}{% if tag %}&{{ tag }}{% endif %}{% if prog %}&{{ prog }}{% endif %}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ student_list.number }} of {{ student_list.paginator.num_pages }}.
          </span>

          {% if student_list.has_next %}
              <a href="?page_no={{ student_list.next_page_number }}{% if tag %}&{{ tag }}{% endif %}{% if prog %}&{{ prog }}{% endif %}">next</a>
              <a href="?page_no={{ student_list.paginator.num_pages }}{% if tag %}&{{ tag }}{% endif %}{% if prog %}&{{ prog }}{% endif %}">last &raquo;</a>
          {% endif %}
      </span>
  </div>
{% if all_research_interests %}
  <div class="container-fluid">
 <div class="styletags">
   <strong>Research Interests:</strong>
   {% for interest in all_research_interests %}
     <a href="{{ page.url }}?tag={{ interest }}">{{ interest }}</a> |
   {% endfor %}
  </div>
  </div>
{% endif %}
{% endblock content %}



{% block extra_script %}
    <script>
    function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByClassName("bread-list-item");

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("span")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
    }
    </script>

{% endblock %}
