{% load static wagtailuserbar cache%}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <link rel="shortcut icon" href="{% static "images/iitg_sml.gif" %}" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    {% block title %}
    {% endblock title %}
    {{page}} |
    Mechanical Department | IITG
  </title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/fontawesome.css" %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KRDCP8R0KL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-KRDCP8R0KL');
  </script>

  {% block extra_css %}
  {# Override this in templates to add extra stylesheets #}
  {% endblock %}
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }


    body {
      font-family: 'Open Sans', sans-serif;
      font-size: medium;
    }

    ::-moz-selection {
      /* Code for Firefox */
      background: #FFDC00 !important;
      color: #000000 !important;
    }

    ::selection {
      background: #FFDC00 !important;
      color: #000000 !important;
    }

    a:link:hover {
      color: #222546;
    }

    footer a:link:hover {
      color: #fff !important;
    }
    .custom-gradient-bg {
      background-image: linear-gradient(to right top, #a9d6e5, #c4dff0, #dce8f6, #f0f3fb, #ffffff);
      background-repeat: repeat no-repeat;
    }

  ol li{
    list-style: decimal;
    list-style-position: inside;
  }

  .card-margin {
    margin-bottom: 1.875rem;
  }

  .card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
  }
  .nav-link:hover{
    text-decoration: underline;
  }
  </style>
  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <!-- Custom styles for this template -->

</head>

<body class="{% block body_class %}{% endblock %} d-flex flex-column min-vh-100"
  style="{% block body_style %}{% endblock %} ">
{%cache 7200 navbar%}
  <!-- <header style="background-color: #3A5157;" class="blog-header py-3 row"> -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#222546 ">
      <div class="container-fluid">
        <div class=" navbar-header col-md-12 col-lg-4">
          <div>
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse"
              data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand float-left" href="{% url 'wagtail_serve' '' %}">
              <img class="logoiitg" src="{% static "images/logo.png" %}"></a>
          </div>

          <div class="hidden-xs mechname" style="font-family:'Source Sans Pro', sans-serif;">
            <div class="row">
              <span>
                <h4 class="mechbrand" style="margin-bottom:0; color: #fff;">Department of </h4>
              </span>
            </div>

            <div class="row">
              <span>
                <h3 class="mechbrandmech" style="margin-top:0; margin-bottom:0; color: #fff;"> Mechanical Engineering
                </h3>
              </span>
            </div>
            <div class="row">
              <span>
                <h3 class="mechbrand" style="margin-top:0; font-weight: bold; color: #fff;">Indian Institute of
                  Technology Guwahati</h3>
              </span>
            </div>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="nav navbar-nav ml-auto basenavheads">
            <li class="nav-item">
              <a class="nav-link" style="color: #fff; line-height:1.45;"
                href="{% url 'wagtail_serve' '' %}"><i class="fa fa-home"></i> <span class="sr-only"></span></a>
            </li>
            {% for child in navlist %}
            {% with page_type=child.content_type.name %}

            {% comment %} {% if page_type == 'Course Structure' %}

            <li class="nav-item">
              <div class="dropdown show">
                <a class="nav-link dropdown-toggle dropbtn" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"
                  style="color: #fff; font-family:'Source Sans Pro', sans-serif;; line-height:1.45;"
                  href="{{ child.url }}">{{ child.title }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <ul>
                    <li><a class="dropdown-item" href="{{ child.url }}?prog=0">UG Courses</a></li>
                    <!-- <li><a class="dropdown-item" href="{{ child.url }}?prog=1">Masters</a></li> -->
                    <ul>
                      <div class="dropdown-divider"></div>
                      <h6 class="dropdown-header text-center" style="color: #fff; font-weight: bold;">M.Tech Courses
                      </h6>
                      <li><a class="dropdown-item" href="{{ child.url }}?prog=1">Aerodynamics & Propulsion</a></li>
                      <li><a class="dropdown-item" href="{{ child.url }}?prog=3">Computational Mechanics</a></li>
                      <li><a class="dropdown-item" href="{{ child.url }}?prog=4">Fluids and Thermal</a></li>
                      <li><a class="dropdown-item" href="{{ child.url }}?prog=5">Machine Design</a></li>
                      <li><a class="dropdown-item" href="{{ child.url }}?prog=2">Manufacturing Science and
                          Engineering</a></li>


                    </ul>
                    <!-- <div class="dropdown-divider"></div>
                             <li><a class="dropdown-item" href="{{ child.url }}?prog=6">Doctoral</a></li> -->
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="{{ child.url }}?prog=7">PG Electives</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="{{ child.url }}?prog=8">All Courses</a></li>
                  </ul>
                  {% endif %} {% endcomment %}


                  {% if page_type == 'Student Home' %}

            {% comment %} <li class="nav-item">
              <div class="dropdown show">
                <a class="nav-link dropdown-toggle dropbtn" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"
                  style="color: #fff; font-family:'Source Sans Pro', sans-serif;; line-height:1.45;"
                  href="{{ child.url }}">{{ child.title }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <ul>
                    <ul>
                      <li><a class="dropdown-item" href="{{ child.url }}?prog=0">B. Tech</a></li>
                      <li><a class="dropdown-item" href="{{ child.url }}?prog=1">M. Tech</a></li>
                      <li><a class="dropdown-item" href="{{ child.url }}?prog=2">Research Scholars</a></li>
                    </ul>
                    <div class="dropdown-divider"></div>
                    <ul>
                      <h6 class="dropdown-header text-center" style="color: #fff; font-weight: bold;">Student Activities
                      </h6>
                      <li><a class="dropdown-item" href="https://iitg.ac.in/clubs/mesa/">MESA</a></li>
                      <li><a class="dropdown-item"
                          href="http://www.iitg.ac.in/saeindia_iitg/AutomobileClub.html">Automobile Club</a></li>
                    </ul>

                  </ul>
                </div>
              </div>
            </li> {% endcomment %}

            {% elif page_type == 'Research Home' %}

            <li class="nav-item">
              <div class="dropdown show">
                <a class="nav-link dropdown-toggle dropbtn" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"
                  style="color: #fff; font-family:'Source Sans Pro', sans-serif;; line-height:1.45;"
                  href="{{ child.url }}">{{ child.title }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <ul>
                    {% for children in child.get_children %}
                    {% if children.title == "Publications"%}

                    {% else %}
                    <li><a class="dropdown-item" href="{{ children.url }}">{{ children.title }}</a></li>

                    {% endif %}
                    {% endfor %}

                    <div class="dropdown-divider"></div>

                    {% for children in child.get_children %}
                    {% if children.title == "Publications"%}
                    <ul>

                      <h6 class="dropdown-header text-center" style="color: #fff; font-weight: bold;">
                        {{ children.title }}</h6>
                      <li><a class="dropdown-item" href="{{ children.url }}?pub_type=3">Books</a></li>
                      <li><a class="dropdown-item" href="{{ children.url }}?pub_type=4">Book Chapters</a></li>
                      <li><a class="dropdown-item" href="{{ children.url }}?pub_type=1">Conference Publications</a></li>
                      <li><a class="dropdown-item" href="{{ children.url }}?pub_type=2">Journal Publications</a></li>
                      <li><a class="dropdown-item" href="{{ children.url }}?pub_type=0">Patents</a></li>
                      <li><a class="dropdown-item" href="{{ children.url }}?pub_type=5">Posters</a></li>
                    </ul>

                    {% endif %}
                    {% endfor %}


                    
                  </ul>
                </div>
              </div>
            </li>
            {% endif %}

            {% if page_type == 'minutes of meetings home page' or page_type == 'Research Home' or page_type == 'Course Structure' or page_type == 'Student Home' or page_type == 'aboutiitgmech' or page_type == 'categories home' or page_type == 'Event Home' or page_type == 'Alumni Home' or page_type == "Committee Home" or page_type == 'generic page' or page_type == 'Academics' %}

            {% else %}
            <li class="nav-item">
              <a class="nav-link" role="button"
                  style="color: #fff; font-family:'Source Sans Pro', sans-serif;; line-height:1.45;"
                  href="{{ child.url }}">{{ child.title }}
              </a>
            </li>

            {% endif %}

            {%if page_type == 'Academics'%}
            <li class="nav-item">
              <div class="dropdown show">
                <a class="nav-link dropdown-toggle dropbtn" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"
                  style="color: #fff; font-family:'Source Sans Pro', sans-serif;; line-height:1.45;"
                  href="{{ child.url }}">{{ child.title }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <ul>

                    <li><a class="dropdown-item" href="{{ child.url }}">All programs</a></li>

                    <div class="dropdown-divider"></div>
                    <ul>
                      {% for program in child.get_children %}

                      {% if program.specific.hasSpecialization %}
                      <ul>
                        <li class="text-center"><a class="dropdown-item"
                            href="{{program.url}}"><strong>{{program}}</strong></a></li>

                        {% for program_child in program.get_children  %}
                        {% if program_child.specific.get_verbose_name == "Program Specialization" %}
                        <li><a class="dropdown-item" href="{{ program_child.url }}">{{program_child.title}}</a></li>
                        {% endif %}
                        {% endfor %}
                      </ul>
                      {% else %}
                      <li><a class="dropdown-item" href="{{ program.url }}">{{program.title}}</a></li>

                      {% endif %}

                      {% if not forloop.last %}
                      <div class="dropdown-divider"></div>
                      {% endif %}
                      {% endfor %}
                    </ul>
                    {% comment %} <div class="dropdown-divider"></div>
                    <ul>
                      <h6 class="dropdown-header text-center" style="color: #fff; font-weight: bold;">Student Activities
                      </h6>
                      <li><a class="dropdown-item" href="http://www.iitg.ac.in/mesa/">MESA</a></li>
                      <li><a class="dropdown-item"
                          href="http://www.iitg.ac.in/saeindia_iitg/AutomobileClub.html">Automobile Club</a></li>
                    </ul> {% endcomment %}

                  </ul>
                </div>
              </div>
            </li>

            {%endif%}

            {% if page_type == 'minutes of meetings home page' %}

            <li class="nav-item">
              <div class="dropdown show">
                <a class="nav-link dropdown-toggle dropbtn" role="button" id="dropdownMenuMoM" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"
                  style="color: #fff; font-family:'Source Sans Pro', sans-serif;; line-height:1.45;"
                  href="{{ child.url }}">{{ child.title }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuMoM">
                  <ul>
                      {% for minuteType in child.get_children %}

                      <li><a class="dropdown-item" href="{{ minuteType.url }}">{{minuteType.title}}</a></li>

                      {% if not forloop.last %}
                      <div class="dropdown-divider"></div>
                      {% endif %}
                      {% endfor %}

                  </ul>
                </div>
              </div>
            </li>
            {% endif %}
            
            {% endwith %}
            {% endfor %}

          </ul>


        </div>
      </div>
    </nav>
  </header>
  <!-- </header> -->
{%endcache%}

  <content>
    {% wagtailuserbar %}
    <div class="paddingadjustments">
      {% block content %}{% endblock %}

    </div>
  </content>
<!-- content -->
 
<!-- Footer --> 
{% include "footer.html" %}



  <script type="text/javascript" src="{% static 'js/iitg_mechanical_website.js' %}"></script>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="{% static "js/jquery-1.11.3.min.js" %}"><\/script>');
  </script>
  {% block extra_js %}
  {# Override this in templates to add extra javascript #}
  {% endblock %}
  <script type="text/javascript">
    /* date time script */
    function showTime() {
      var date = new Date();
      var h = date.getHours(); // 0 - 23
      var m = date.getMinutes(); // 0 - 59
      var s = date.getSeconds(); // 0 - 59
      var day = date.getDate();
      var month = date.getMonth() + 1;
      var year = date.getFullYear();
      var session = "AM";

      if (h == 0) {
        h = 12;
      }

      if (h > 12) {
        h = h - 12;
        session = "PM";
      }

      h = (h < 10) ? "0" + h : h;
      m = (m < 10) ? "0" + m : m;
      s = (s < 10) ? "0" + s : s;

      var time = day + "/" + month + "/" + year + "     " + h + ":" + m + ":" + s + " " + session;
      document.getElementById("MyClockDisplay").innerText = time;
      document.getElementById("MyClockDisplay").textContent = time;

      setTimeout(showTime, 1000);

    }

    showTime();
  </script>

  {% block extra_script %}
  {# Override this in templates to add extra script #}
  {% endblock %}


</body>

</html>
