{% load wagtailcore_tags %}

{% if ancestors %}

<nav aria-label="breadcrumb">
<style>
li a {
    border-bottom: 1px solid transparent;
    color: #222546;
    text-decoration: none;
    transition: all 0.2s ease;
}
</style>
    <ol class="breadcrumb bg-white">
        {% for ancestor in ancestors %}
        {% if forloop.last %}
        <li class="ml-3 breadcrumb-item active">{{ ancestor }}</li>
        {% else %}
        <li><a class="ml-2 mr-1breadcrumb-item" href="{% pageurl ancestor %}">{{ ancestor }}</a> /</li>
        {% endif %}
        {% endfor %}
    </ol>
</nav>
{% endif %}