{% load static wagtailuserbar cache%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- bootstrap5 css -->

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
        />
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
        <script type="module">
            const roomsData = JSON.parse(`{{ roomsStr| safe}}`);
            const roomsDataDict = {}
            roomsData.forEach(room=>{
                roomsDataDict[room.id] = room.title
            })
            const slotBookingModal = new window.bootstrap.Modal(
                document.getElementById("slotBookingModal"),
                {}
            );
            const eventInfoModal = new window.bootstrap.Modal(
                document.getElementById("eventInfoModal"),
                {}
            );
            const eventInfoModalBody = document.getElementById("eventInfoModalBody");
            const eventInfoModalLabel= document.getElementById("eventInfoModalLabel");
            const slotBookingForm = document.getElementById("slotBookingForm");

            function showToast(msg){
                document.getElementById("msgToastBody").innerHTML = msg;
                new window.bootstrap.Toast(document.querySelector('#msgToast')).show();
            }
            function getEventInfoBody(data){
                    var res = document.createElement('form');
                    for (var key in data) {
                        if (data.hasOwnProperty(key)) {
                            const inputGrpEle = document.createElement('div');
                            inputGrpEle.className = "input-group mb-3";
                            const inputTitleEle = document.createElement('span');
                            inputTitleEle.className = "input-group-text";
                            
                            inputTitleEle.innerHTML= key;
                            const inputEle = document.createElement('input');
                            inputEle.className += "form-control";
                            inputEle.readonly = true;
                            inputEle.placeholder = data[key];
                            inputGrpEle.appendChild(inputTitleEle);
                            inputGrpEle.appendChild(inputEle);
                            res.appendChild(inputGrpEle);
                        }
                    }
                    
                    return res;
                }

            document.addEventListener("DOMContentLoaded", function () {
                var calendarEl = document.getElementById("calendar");
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    headerToolbar: {
                        start: "prev,next today",
                        center: "title",
                        end: "dayGridMonth,timeGridWeek,timeGridDay",
                    },
                    initialView: "dayGridMonth",
                    themeSystem: "bootstrap5",
                    contentHeight: 700,
                    eventLimit: true,
                });

                function getEventTitle(title,room){
                    return `${title} [${room}]`;
                }

                // handle click event
                calendar.on("dateClick", function (info) {
                    const timeSelected = new Date(info.dateStr);
                    const startTime = document.getElementById("startTime");
                    if(startTime){
                        const startTimeFP = window.flatpickr(startTime, {
                            enableTime: true,
                            dateFormat: "Y-m-d H:i",
                            defaultDate: timeSelected,
                        });
                    }

                    const endTime = document.getElementById("endTime");
                    if(endTime){
                        const endTimeFP = window.flatpickr(endTime, {
                            enableTime: true,
                            dateFormat: "Y-m-d H:i",
                            defaultDate: new Date(
                                timeSelected.getTime() + 30 * 60 * 1000
                            ),
                        });
                    }
                    slotBookingModal.show();
                });

                calendar.on("eventClick",function(info){
                    var props = info.event.extendedProps;
                    info = info.event;
                    const data = {
                        Name:props.user.name,
                        Email: props.user.email,
                        Room: props.room,
                        Reason:props.reason,
                        "Start Time": info.start.toLocaleString(),
                        "End Time": info.end.toLocaleString(),
                    }

                    eventInfoModalLabel.innerHTML = info.title;
                    eventInfoModalBody.innerHTML = "";

                    const readOnlyForm = getEventInfoBody(data);
                    readOnlyForm.setAttribute("id",info.id);

                    eventInfoModalBody.appendChild(readOnlyForm);

                    eventInfoModal.show();

                });

                // fetch all the events and add to the calendar
                
                fetch("{{request.path}}booking").then(resp=>{
                    // console.log(resp);
                    return resp.json()
                }).then(data=>{
                    // console.log(data); 
                    data.forEach(itm=>{
                        calendar.addEvent({
                            id:itm.id,
                            title: getEventTitle(itm.title,itm.room) ,
                            start: itm.startTime,
                            end: itm.endTime,
                            reason : itm.reason,
                            user: itm.user,
                            room: itm.room,
                        });
                    })

                }).catch(error=>console.error(error));

                calendar.render();
            
                slotBookingForm.addEventListener("submit",function(event){
                    event.preventDefault();
                    // TODO: save in database
                    var formData = new FormData(this);
                    formData.set("user",{{request.user.id}})

                    fetch("{{request.path}}booking/",{method:"POST",body:formData})
                    .then(resp=>{
                        console.log(resp);
                        return resp.json()}
                    )
                    .then(resp=>{
                        if(resp.status !="success"){
                            console.error(resp.data);
                            showToast(JSON.stringify(resp.data))
                        }
                        else{
                            // Note: not getting booking id here
                            calendar.addEvent({
                                id: Math.random(), // update this
                                title: resp.data.title ,
                                start: resp.data.startTime,
                                end: resp.data.endTime,
                                reason : resp.data.reason,
                                user: {
                                    name: "{{request.user.get_full_name}}",
                                    email: "{{request.user.email}}",
                                },
                                room: resp.data.room,
                            });

                            slotBookingModal.hide();

                            showToast(`${roomsDataDict[resp.data.room]} booked for ${resp.data.title}`);
                        }
                    })
                    .catch(err=>{
                        showToast(JSON.stringify(err));
                        console.error(err)
                    });
                              
                
                });
            
            });
            
        </script>
        <style>
            .fc-event{
                cursor: pointer;
            }            
        </style>
    </head>
    <body>

        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{% static "images/logo.png" %}" alt="" width="30"
                    height="30" class="d-inline-block align-text-top" /> Room
                    Booking Portal, Mech IITG
                </a>
            </div>
        </nav>
        <div aria-live="polite" aria-atomic="true" class="bg-dark position-relative bd-example-toasts">
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="msgToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-warning text-light">
                    <h5 class="my-0">Message</h5>
                </div>
                <div class="toast-body" id="msgToastBody">
                </div>
                </div>  
            </div>
        </div>
          
        
        <div class="modal fade"
            id="slotBookingModal"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="slotBookingModalLabel"
            aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="slotBookingModalLabel">
                            Book a slot
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body container">
                        {% if canEdit %}
                        <!-- TODO: remove default values-->
                        <form class="" id="slotBookingForm" >
                            {% csrf_token %}
                            <label for="bookingUser">User</label>
                            <input class="form-control" id="bookingUser" name="user" value="{{request.user}}" readonly required></input>
                            <label for="bookingTitle" >Title</label>
                            <input class="form-control" id="bookingTitle" name="title" value="title" required/>
                            <label for="bookingReason" >Reason</label>
                            <input class="form-control" id="bookingReason" name="reason" value="reason for booking" required/>
                            <label for="rooms" >Room </label>
                            <select id="room" name ="room" class="form-control" required>
                                <option disabled selected value> -- select an option -- </option>
                                {% for room in rooms  %}
                                <option value="{{room.id}}">{{room.title}}</option>
                                {% endfor %}
                            </select>
                            
                            <label for="startTime"  >Start Time</label>

                            <input name="startTime"
                                class="flatpickr flatpickr-input flatpickr-mobile form-control"
                                tabindex="1"
                                type="datetime-local"
                                placeholder="Select DateTime.."
                                id="startTime"
                                required />
                            <label for="endTime">End Time</label>
                            <input name="endTime"
                                class="flatpickr flatpickr-input flatpickr-mobile form-control"
                                tabindex="1"
                                type="datetime-local"
                                placeholder="Select DateTime.."
                                id="endTime"
                                required />
                            <br>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                cancel
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    Book
                                </button>
                            </div>

                        </form>

                        {% elif request.user.is_authenticated %}
                            <br>
                            <p class="text-danger">
                                You are not authorized to book a room.
                            </p>
                            <br>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
                                Okay
                                </button>
                            </div>
                        {% else %}
                            <br>
                            <p class="text-info">
                                Please login to book a room.
                                <a href="{% url 'wagtail_serve' '' %}admin/login/?next={% url 'wagtail_serve' '' %}room-booking-portal/">login</a>
                            </p>
                            <br>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
                                Okay
                                </button>
                            </div>
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="eventInfoModal" tabindex="-1" aria-labelledby="eventInfoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="eventInfoModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="eventInfoModalBody">

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          

        <div class="container mt-5">
            <div id="calendar"></div>
        </div>



    <footer class="footer">
        <div class="text-center mt-5">
        © Copyright <script>document.write(new Date().getFullYear())</script> Department of Mechanical Engineering, IIT Guwahati All rights reserved.
        </div>
    </footer>

        {% comment %} Scripts {% endcomment %}
        <!-- Bootstrap Js-->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
    
    </body>


</html>
